<div>

    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row class="my-box">
                <div nz-col nzSpan="12">  
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gfinancialinfo.ttl12' | translate}}
                        </nz-form-label>
                        <nz-form-control nzHasFeedback>
                            <textarea nz-input name="accountno1" type="text"
                                [(ngModel)]="data7.ACC_NO"
                                [nzAutosize]="{ minRows: 1, maxRows: 5 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzNoColon> {{'gfinancialinfo.ttl13' | translate}}
                        </nz-form-label>
                        <nz-form-control nzHasFeedback>
                            <nz-input-number name="accamount1" style="width: 100%;"
                                [(ngModel)]="data7.ACC_AMOUNT" [nzMin]="0"
                                [nzMax]="99999999999999999999999999">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
           

        </nz-spin>
    </form>

    <div class="footer" *ngIf="CURRENT_STAGE_ID == 8 && extraApplicantInformation.IS_APPROVED == false">
        <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>{{
                'common.cancel' | translate}}</span></button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data7.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" (click)="save()"><span> {{ 'common_text.footer_btn1' | translate}}
            </span></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save()"> {{ 'common_text.footer_btn2' | translate}} </a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data7.ID"
            (click)="save()"><span> {{ 'common_text.footer_btn3' | translate}} </span></button>
    </div>
</div>