<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row *ngIf="!data1.IS_SUB">
                <!-- <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'gcreditinfo.th11'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="BANK_OR_INSTITUTE_NAME" type="text" [(ngModel)]="data1.BANK_OR_INSTITUTE_NAME" required />
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
                <!-- <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'gcreditinfo.th2'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="BRANCH_NAME" type="text" [(ngModel)]="data1.BRANCH_NAME" required />
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
            </div>
            <div nz-row *ngIf="data1.IS_SUB">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'gcreditinfo.th2'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <nz-select nzShowSearch name="BRANCH_NAME" *ngIf="browserLang=='mr'" [(ngModel)]="data1.BRANCH_NAME" required nzPlaceHolder="{{'gcreditinfo.th2'| translate}}">
                                <nz-option *ngFor="let p of branchData" [nzValue]="p.NAME_MR" [nzLabel]="p.NAME_MR"></nz-option>
                            </nz-select>
                            <nz-select nzShowSearch name="BRANCH_NAME" *ngIf="browserLang=='kn'" [(ngModel)]="data1.BRANCH_NAME" required nzPlaceHolder="{{'gcreditinfo.th2'| translate}}">
                                <nz-option *ngFor="let p of branchData" [nzValue]="p.NAME_KN" [nzLabel]="p.NAME_KN"></nz-option>
                            </nz-select>
                            <nz-select nzShowSearch name="BRANCH_NAME" *ngIf="browserLang=='en'" [(ngModel)]="data1.BRANCH_NAME" required nzPlaceHolder="{{'gcreditinfo.th2'| translate}}">
                                <nz-option *ngFor="let p of branchData" [nzValue]="p.NAME_EN" [nzLabel]="p.NAME_EN"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="24" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th3'| translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input style="width: 100%;" name="ACCOUNT_NUMBER" [(ngModel)]="data1.ACCOUNT_NUMBER" />


                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row *ngIf="data1.IS_SUB">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th13'| translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select name="loantype" *ngIf="browserLang=='mr'" [(ngModel)]="data1.LOAN_TYPE_ID" nzPlaceHolder="{{'gcreditinfo.th13'| translate}}">
                                <nz-option *ngFor="let p of loans" [nzValue]="p.ID" [nzLabel]="p.NAME_MR"></nz-option>
                            </nz-select>
                            <nz-select name="loantype" *ngIf="browserLang=='kn'" [(ngModel)]="data1.LOAN_TYPE_ID" nzPlaceHolder="{{'gcreditinfo.th13'| translate}}">
                                <nz-option *ngFor="let p of loans" [nzValue]="p.ID" [nzLabel]="p.NAME_KN"></nz-option>
                            </nz-select>
                            <nz-select name="loantype" *ngIf="browserLang=='en'" [(ngModel)]="data1.LOAN_TYPE_ID" nzPlaceHolder="{{'gcreditinfo.th13'| translate}}">
                                <nz-option *ngFor="let p of loans" [nzValue]="p.ID" [nzLabel]="p.NAME_EN"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row *ngIf="!data1.IS_SUB">
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th18'| translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="BankName" type="text" [(ngModel)]="data1.LOAN_TYPE" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th5'| translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number style="width: 100%;" name="SANCTIONED_AMOUNT" [(ngModel)]="data1.SANCTIONED_AMOUNT" [nzMin]="0" [nzMax]="9999999999999999999999" [nzStep]="1" required>
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th6'| translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number style="width: 100%;" name="INSTALLMENT_AMOUNT" [(ngModel)]="data1.INSTALLMENT_AMOUNT" [nzMin]="0" [nzMax]="9999999999999999999999" [nzStep]="1">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="12" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gpersonalinfo.label39'| translate}} </nz-form-label>
                        <nz-form-control>
                            <nz-input-number style="width: 100%;" name="accountno" [(ngModel)]="data1.YEAR" [nzMin]="0" [nzMax]="99999999999999999999999999" [nzStep]="0">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gpersonalinfo.label39'| translate}} </nz-form-label>
                        <nz-form-control>
                            <nz-input-number style="width: 100%;" name="YEAR" [(ngModel)]="data1.YEAR" [nzMin]="0"
                                [nzMax]="99999999999999999999999999" [nzStep]="0">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->


                <div nz-col nzSpan="12" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th22'| translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}" placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data1.SANCTION_DATE" name="SANCTION_DATE" />

                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- <div nz-col nzSpan="12" *ngIf="!data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th9'| translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}"
                            placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data1.DUE_DATE" name="DUE_DATE" />
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
                <div nz-col nzSpan="12" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th9'| translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}" placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data1.DUE_DATE" name="DUE_DATE" />

                            <!-- <nz-date-picker style="width: 100%;" name="date" nzFormat="dd-MM-yyyy"
                                [(ngModel)]="data1.DUE_DATE" (keydown.backspace)="focusss($event)"
                                (keydown.delete)="focusss($event)" nzPlaceHolder="{{'gcreditinfo.th9'| translate}}">
                            </nz-date-picker> -->
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12" *ngIf="!data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th7'| translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number style="width: 100%;" name="LOAN_OUTSTANDING" [(ngModel)]="data1.LOAN_OUTSTANDING" [nzMin]="0" [nzMax]="99999999999999999999999999" [nzStep]="1">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th7'| translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number style="width: 100%;" name="LOAN_OUTSTANDING" [(ngModel)]="data1.LOAN_OUTSTANDING" [nzMin]="0" [nzMax]="99999999999999999999999999" [nzStep]="1">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gcreditinfo.th30'| translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}" placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data1.REPAYMENT_DATE" name="REPAYMENT_DATE" />


                        </nz-form-control>
                    </nz-form-item>
                </div>
                <!-- <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label  nzNoColon>{{'gcreditinfo.th10'| translate}}</nz-form-label>
                        <nz-form-control >
                            <textarea rows="2" nz-input name="SECURITY_OFFERED" type="text" [(ngModel)]="data1.SECURITY_OFFERED"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
                <div nz-col nzSpan="24" *ngIf="!data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'agri_info.REMARK_label' | translate}}
                        </nz-form-label>
                        <nz-form-control>
                            <textarea nz-input name="REMARK" type="text" [(ngModel)]="data1.REMARK" [nzAutosize]="{ minRows: 2, maxRows: 5 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" *ngIf="data1.IS_SUB">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'agri_info.REMARK_label' | translate}}
                        </nz-form-label>
                        <nz-form-control>
                            <textarea nz-input name="REMARK" type="text" [(ngModel)]="data1.REMARK" [nzAutosize]="{ minRows: 2, maxRows: 5 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
        </nz-spin>
    </form>
    <div class="footer" *ngIf="(roleId == '5' && CURRENT_STAGE_ID==8 )||(roleId == '4' && (CURRENT_STAGE_ID == 8 || CURRENT_STAGE_ID == 9))||(roleId == '12' && CURRENT_STAGE_ID==19)||(roleId == '14' && CURRENT_STAGE_ID==14)||(roleId == '13' && CURRENT_STAGE_ID==20)">
        <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>{{'common.cancel'|translate}}</span></button>

        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" (click)="save(false)"><span>{{'common_text.footer_btn3'|translate}}</span></button>
    </div>



</div>