<div>
    <div nz-row style="padding-left: 480px">

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <h2 class="login100-form-title2 p-b-26"> Reset Password</h2>
                    <br>
                    <form nz-form class="login-form" *ngIf="!sendOtp && !newpass">
                        <nz-form-item>
                            <nz-form-control nzRequired nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                <nz-input-group nzPrefixIcon="mobile">
                                    <input type="text" name="MOBILE" [(ngModel)]="MOBILE" nz-input
                                        placeholder="Mobile No." required />
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-control>

                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>

                                        <button nz-button class="login100-form-btn" (click)="save()"
                                            [nzLoading]="isloginSpinning" [nzType]="'primary'">Send OTP</button>
                                    </div>
                                </div>

                            </nz-form-control>
                        </nz-form-item>
                    </form>
                    <form nz-form class="login-form" *ngIf="sendOtp">
                        <nz-form-item style="margin:0px 0px 5px !important;text-align: center !important;">
                            <label>OTP has been sent to your mobile number. Please enter it below.</label>
                        </nz-form-item>
                        <nz-form-item style="margin: 0px !important;text-align: center !important;">
                            <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                <ng-otp-input name="otp" [config]="config" (onInputChange)="onOtpChange($event)">
                                </ng-otp-input>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item style="margin:10px 0px 0px !important;text-align: center !important;">
                            <h4> Didn't received otp ? <a (click)="resendOTP()"> Resend OTP</a> </h4>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>

                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>

                                        <button nz-button class="login100-form-btn" (click)="varify()"
                                            [nzLoading]="isloginSpinning" [nzType]="'primary'">Verify OTP</button>
                                    </div>
                                </div>

                            </nz-form-control>
                        </nz-form-item>
                    </form>
                    <form nz-form class="login-form" *ngIf="newpass">

                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                <nz-input-group [nzSuffix]="suffixTemplate">
                                    <input name="new" [type]="passwordVisible ? 'text' : 'password'" nz-input
                                        placeholder="New password" [(ngModel)]="NEW_PASSWORD" required />
                                </nz-input-group>
                                <ng-template #suffixTemplate>
                                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible = !passwordVisible"></i>
                                </ng-template>

                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                <nz-input-group [nzSuffix]="suffixTemplate2">
                                    <input name="Confirm" [type]="passwordVisible2 ? 'text' : 'password'" nz-input
                                        placeholder="Confirm password" [(ngModel)]="CONFIRM_PASSWORD" required />
                                </nz-input-group>
                                <ng-template #suffixTemplate2>
                                    <i nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'"
                                        (click)="passwordVisible2 = !passwordVisible2"></i>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>

                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>

                                        <button nz-button class="login100-form-btn" (click)="changepass()"
                                            [nzLoading]="isloginSpinning" [nzType]="'primary'">Save</button>
                                    </div>
                                </div>

                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>