<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{ 'business_info.SISTER_CONSERN_th1'| translate}}
                        </nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="NAME_OF_FIRM" type="text" [(ngModel)]="data2.NAME_OF_FIRM" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{ 'business_info.NATURE_OF_FIRM_title' |
                            translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="NATURE_OF_BUSINESS" type="text" [(ngModel)]="data2.NATURE_OF_BUSINESS"
                                required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{ 'business_info.CONSTITUTION_OF_FIRM' |
                            translate}} </nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <nz-select name="CONSTITUTION" [(ngModel)]="data2.CONSTITUTION" nzPlaceHolder="{{ 'business_info.CONSTITUTION_OF_FIRM' |
                                translate}}">
                                <nz-option *ngFor="let p of constitutionData" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{ 'business_info.SISTER_CONSERN_th2'| translate}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="BANKERS" type="text" [(ngModel)]="data2.BANKERS" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzNoColon>
                            {{ 'business_info.SISTER_CONSERN_th3'| translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number [nzMax]="99999999999999999999999999" style="width: 100%;" name="TOTAL_LOAN_OR_ADVANCE"
                                [(ngModel)]="data2.TOTAL_LOAN_OR_ADVANCE" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{ 'business_info.SISTER_CONSERN_th4'| translate}} </nz-form-label>
                        <nz-form-control>
                            <nz-input-number [nzMax]="99999999999999999999999999" style="width: 100%;" name="OUTSTANDING_AMOUNT"
                                [(ngModel)]="data2.OUTSTANDING_AMOUNT" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{ 'business_info.SISTER_CONSERN_th5'| translate}}</nz-form-label>
                        <nz-form-control>
                            <textarea nz-input name="SECURITY_OFFERED_FOR_LOAN" type="text"
                                [(ngModel)]="data2.SECURITY_OFFERED_FOR_LOAN"
                                [nzAutosize]="{ minRows: 2, maxRows: 3 }"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-spin>
    </form>
    <div class="footer" *ngIf="CURRENT_STAGE_ID == 8 && extraApplicantInformation.IS_APPROVED == false">
        <button type="button" nz-button (click)="close()" class="ant-btn"
            style="margin-right: 8px;"><span>{{'common.cancel'|translate}}</span></button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data2.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" (click)="save(false)"><span>{{'common_text.footer_btn1'|translate}}</span></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save(true)">{{'common_text.footer_btn2'|translate}}</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data2.ID"
            (click)="save(false)"><span>{{'common_text.footer_btn3'|translate}}</span></button>
    </div>
</div>