<div>
    <form nz-form style="margin-bottom: 60px;">
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row
                *ngIf="extraApplicantInformation.REMARK !='' && extraApplicantInformation.IS_VERIFIED && !extraApplicantInformation.IS_APPROVED"
                style="border-radius: 2px;border: 1px solid #91d5ff;background-color:#e6f7ff;padding:5px 10px;">
                <div nz-col nzSpan="1" style="text-align: center;"><i nz-icon nzType="exclamation-circle" nzTheme="fill"
                        style="color: rgb(32, 119, 250);"></i></div>
                <div nz-col nzSpan="23">
                    <h4 style="margin-bottom: 2px;"> {{'basicinfo.m7'|translate}}</h4>
                    {{extraApplicantInformation.REMARK}}

                </div>
            </div><br>
            <div nz-row class="my-box">
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'IncomeSource.lable1'|translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select *ngIf="browserLang=='mr'" name="INCOME_SOURCE_ID"
                                [(ngModel)]="data1.INCOME_SOURCE_ID" (ngModelChange)="changeIncomeSource($event)">
                                <nz-option *ngFor="let p of incomeTypeData11" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>

                            <nz-select *ngIf="browserLang=='kn'" name="INCOME_SOURCE_ID"
                                [(ngModel)]="data1.INCOME_SOURCE_ID" (ngModelChange)="changeIncomeSource($event)">

                                <nz-option *ngFor="let p of incomeTypeData11" [nzValue]="p.ID" [nzLabel]="p.NAME_KN">
                                </nz-option>
                            </nz-select>
                            <nz-select *ngIf="browserLang=='en'" name="INCOME_SOURCE_ID"
                                [(ngModel)]="data1.INCOME_SOURCE_ID" (ngModelChange)="changeIncomeSource($event)">

                                <nz-option *ngFor="let p of incomeTypeData11" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4.5">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'IncomeSource.lable2'|translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select *ngIf="browserLang=='mr'" name="OTHER_INCOME_SOURCE_ID"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID"
                                (ngModelChange)="changeOtherIncomeSource($event)">
                                <nz-option *ngFor="let p of incomeTypeData2" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>

                            <nz-select *ngIf="browserLang=='kn'" name="OTHER_INCOME_SOURCE_ID"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID"
                                (ngModelChange)="changeOtherIncomeSource($event)">

                                <nz-option *ngFor="let p of incomeTypeData2" [nzValue]="p.ID" [nzLabel]="p.NAME_KN">
                                </nz-option>
                            </nz-select>
                            <nz-select *ngIf="browserLang=='en'" name="OTHER_INCOME_SOURCE_ID"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID"
                                (ngModelChange)="changeOtherIncomeSource($event)">

                                <nz-option *ngFor="let p of incomeTypeData2" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4.5">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'IncomeSource.lable3'|translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select *ngIf="browserLang=='mr'" name="OTHER_INCOME_SOURCE_ID2"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID2"
                                (ngModelChange)="changeOtherIncomeSource2($event)">
                                <nz-option *ngFor="let p of incomeTypeData3" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                            <nz-select *ngIf="browserLang=='kn'" name="OTHER_INCOME_SOURCE_ID2"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID2"
                                (ngModelChange)="changeOtherIncomeSource2($event)">
                                <nz-option *ngFor="let p of incomeTypeData3" [nzValue]="p.ID" [nzLabel]="p.NAME_KN">
                                </nz-option>
                            </nz-select>
                            <nz-select *ngIf="browserLang=='en'" name="OTHER_INCOME_SOURCE_ID2"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID2"
                                (ngModelChange)="changeOtherIncomeSource2($event)">
                                <nz-option *ngFor="let p of incomeTypeData3" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4.5">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'IncomeSource.lable4'|translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select *ngIf="browserLang=='mr'" name="OTHER_INCOME_SOURCE_ID3"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID3"
                                (ngModelChange)="changeOtherIncomeSource4($event)">
                                <nz-option *ngFor="let p of incomeTypeData4" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>

                            <nz-select *ngIf="browserLang=='kn'" name="OTHER_INCOME_SOURCE_ID3"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID3"
                                (ngModelChange)="changeOtherIncomeSource4($event)">

                                <nz-option *ngFor="let p of incomeTypeData4" [nzValue]="p.ID" [nzLabel]="p.NAME_KN">
                                </nz-option>
                            </nz-select>
                            <nz-select *ngIf="browserLang=='en'" name="OTHER_INCOME_SOURCE_ID3"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID3"
                                (ngModelChange)="changeOtherIncomeSource4($event)">

                                <nz-option *ngFor="let p of incomeTypeData4" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="4.5">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'IncomeSource.lable5'|translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-select *ngIf="browserLang=='mr'" name="OTHER_INCOME_SOURCE_ID4"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID4"
                                (ngModelChange)="changeOtherIncomeSource5($event)">
                                <nz-option *ngFor="let p of incomeTypeData5" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                            <nz-select *ngIf="browserLang=='kn'" name="OTHER_INCOME_SOURCE_ID4"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID4"
                                (ngModelChange)="changeOtherIncomeSource5($event)">
                                <nz-option *ngFor="let p of incomeTypeData5" [nzValue]="p.ID" [nzLabel]="p.NAME_KN">
                                </nz-option>
                            </nz-select>
                            <nz-select *ngIf="browserLang=='en'" name="OTHER_INCOME_SOURCE_ID4"
                                nzPlaceHolder="{{'gincomeinfo.placeholder2'|translate }}"
                                [(ngModel)]="data1.OTHER_INCOME_SOURCE_ID4"
                                (ngModelChange)="changeOtherIncomeSource5($event)">
                                <nz-option *ngFor="let p of incomeTypeData5" [nzValue]="p.ID" [nzLabel]="p.NAME">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="2">
                    <!-- <button type="button" nz-button  class="ant-btn"
                    style="margin-right: 8px;"><span>{{'common.cancel'|translate}}</span></button> -->
                    <button *ngIf="roleId != '7'" type="button" style="margin-top: 31px;" class="ant-btn ant-btn-primary" nz-button
                        [nzLoading]="isButtonSpinning1"
                        (click)="updateIncomeInformation()"><span>{{'gincomeinfo.button1'|translate }}</span></button>

                </div>


                <!-- <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzNoColon>शेत जमीन आहे का ?</nz-form-label>
                        <nz-form-control>
                            <nz-switch name="IS_HOLD_AGRICULTURE_LAND" [(ngModel)]="data1.IS_HOLD_AGRICULTURE_LAND"
                                  nzCheckedChildren="{{'common.switch.yes'|translate}}"
                                 nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                            </nz-switch>
                           
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
            </div>

            <div *ngIf="incomeSourceDisable">

                <!-- salary -->
                <div
                    *ngIf="data1.INCOME_SOURCE_ID==1 || data1.OTHER_INCOME_SOURCE_ID==1 || data1.OTHER_INCOME_SOURCE_ID2 == 1 || data1.OTHER_INCOME_SOURCE_ID3 == 1 || data1.OTHER_INCOME_SOURCE_ID4 == 1">
                    <br>
                    <nz-divider nzText="{{'gincomeinfo.text1'|translate}}"></nz-divider>
                    <div nz-col [nzLg]="{span :22, offset:1}">
                        <div nz-row nzType="flex">
                            <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">

                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12"
                                style="display: flex;justify-content: flex-end">
                                <form nz-form [nzLayout]="'inline'">
                                    <nz-form-item>
                                        <button *ngIf="dataList27.length == 0" nz-button nzType="primary"
                                            (click)="add7()" nzJustify="end">
                                            <i nz-icon nzType="plus"></i>{{'gincomeinfo.button4'|translate }}
                                        </button>
                                    </nz-form-item>
                                </form>
                            </div>
                        </div>
                        <nz-table [nzShowPagination]="false" style="height: 250px;" class="my-scroll no-wrap1"
                            nzBordered #table2 [nzFrontPagination]="false" [nzData]="dataList27"
                            [nzLoading]="loadingRecords2" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
                            [(nzPageSize)]="pageSize">
                            <thead>
                                <tr>
                                    <th>{{'gincomeinfo.th1'|translate }}</th>
                                    <th>{{'gincomeinfo.organization_name'|translate}}</th>
                                    <th>{{'gincomeinfo.total_sal'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of table2.data">

                                    <td>
                                        <a (click)="edit7(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                                    </td>


                                    <td> {{data['ORGANISATION_NAME']}} </td>
                                    <td> {{data['GROSS_SALARY']}} </td>

                                </tr>
                            </tbody>
                        </nz-table>
                        <hr>
                        <br>
                    </div>


                </div>
                <br>
                <!-- business -->
                <div
                    *ngIf="data1.INCOME_SOURCE_ID==2 || data1.OTHER_INCOME_SOURCE_ID==2 || data1.OTHER_INCOME_SOURCE_ID2 == 2 || data1.OTHER_INCOME_SOURCE_ID3 == 2 || data1.OTHER_INCOME_SOURCE_ID4 == 2">
                    <nz-divider nzText="{{'gincomeinfo.text3'|translate }}"></nz-divider>
                    <div nz-col [nzLg]="{span :22, offset:1}">
                        <div nz-row nzType="flex">
                            <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">

                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12"
                                style="display: flex;justify-content: flex-end">
                                <form nz-form [nzLayout]="'inline'">
                                    <nz-form-item>
                                        <button nz-button nzType="primary" (click)="add1(2)" nzJustify="end">
                                            <i nz-icon nzType="plus"></i>{{'gincomeinfo.button4'|translate }}
                                        </button>
                                    </nz-form-item>
                                </form>
                            </div>
                        </div>
                        <nz-table [nzShowPagination]="false" style="height: 350px;overflow: auto;"
                            class="my-scroll no-wrap1" nzBordered #table [nzFrontPagination]="false"
                            [nzData]="dataList1" [nzLoading]="loadingRecords1" [nzTotal]="totalRecords"
                            [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize">
                            <thead>
                                <tr>
                                    <th>{{'gincomeinfo.th1'|translate }}</th>
                                    <th>{{'gincomeinfo.name'|translate }}</th>
                                    <th>{{'gincomeinfo.th3'|translate }}</th>
                                    <th>{{'business_info.CAPITAL_title'|translate }}</th>
                                    <th>{{'business_info.TURNOVER_YEARLY_title'|translate }}</th>
                                    <th>{{'business_info.INCOME_YEARLY_title'|translate }}</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of table.data">
                                    <td>
                                        <a (click)="edit1(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                                    </td>
                                    <td> {{data['NAME_OF_FIRM']}} </td>
                                    <td> {{data['NATURE_OF_FIRM']}} </td>
                                    <td> {{data['CAPITAL']}} </td>
                                    <td> {{data['TURNOVER_YEARLY']}} </td>
                                    <td> {{data['INCOME_YEARLY']}} </td>


                                </tr>
                            </tbody>
                        </nz-table>
                        <hr>
                        <br>
                    </div>


                </div>

                <!-- house/shop info -->
                <div
                    *ngIf="data1.INCOME_SOURCE_ID==4 || data1.OTHER_INCOME_SOURCE_ID==4 || data1.OTHER_INCOME_SOURCE_ID2 == 4 || data1.OTHER_INCOME_SOURCE_ID3 == 4 || data1.OTHER_INCOME_SOURCE_ID4 == 4">
                    <br>
                    <nz-divider nzText="{{'gincomeinfo.text7'|translate }}"></nz-divider>
                    <div nz-col [nzLg]="{span :22, offset:1}">
                        <div nz-row nzType="flex">
                            <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">

                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12"
                                style="display: flex;justify-content: flex-end">
                                <form nz-form [nzLayout]="'inline'">
                                    <nz-form-item>
                                        <button *ngIf="dataList14.length == 0" nz-button nzType="primary"
                                            (click)="add25()" nzJustify="end">
                                            <i nz-icon nzType="plus"></i>{{'gincomeinfo.button4'|translate }}
                                        </button>
                                    </nz-form-item>
                                </form>
                            </div>
                        </div>
                        <nz-table [nzShowPagination]="false" style="height: 250px;" class="my-scroll no-wrap1"
                            nzBordered #table2 [nzFrontPagination]="false" [nzData]="dataList14"
                            [nzLoading]="loadingRecords2" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
                            [(nzPageSize)]="pageSize">
                            <thead>
                                <tr>
                                    <th>{{'gincomeinfo.th1'|translate }}</th>
                                    <th>{{'gincomeinfo.ttl3'|translate }}</th>
                                    <th>{{'gincomeinfo.ttl4'|translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of table2.data">

                                    <td>
                                        <a (click)="edit25(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                                    </td>

                                    <td> {{data['RENT_DETAILS']}} </td>
                                    <td> {{data['AMOUNT']}} </td>

                                </tr>
                            </tbody>
                        </nz-table>
                        <hr>
                        <br>
                    </div>


                </div>
                <!-- Agriculture info -->
                <div
                    *ngIf="data1.INCOME_SOURCE_ID==3 || data1.OTHER_INCOME_SOURCE_ID==3 || data1.OTHER_INCOME_SOURCE_ID2 == 3 || data1.OTHER_INCOME_SOURCE_ID3 == 3 || data1.OTHER_INCOME_SOURCE_ID4 == 3">
                    <br>
                    <nz-divider nzText="{{'gincomeinfo.text8'|translate}}"></nz-divider>
                    <div nz-col [nzLg]="{span :22, offset:1}">
                        <div nz-row nzType="flex">
                            <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">

                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12"
                                style="display: flex;justify-content: flex-end">
                                <form nz-form [nzLayout]="'inline'">
                                    <nz-form-item>
                                        <button *ngIf="dataList2.length == 0" nz-button nzType="primary"
                                            (click)="add8()" nzJustify="end">
                                            <i nz-icon nzType="plus"></i>{{'gincomeinfo.button4'|translate }}
                                        </button>
                                    </nz-form-item>
                                </form>
                            </div>
                        </div>
                        <nz-table [nzShowPagination]="false" style="height: 250px;" class="my-scroll no-wrap1"
                            nzBordered #table2 [nzFrontPagination]="false" [nzData]="dataList2"
                            [nzLoading]="loadingRecords2" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
                            [(nzPageSize)]="pageSize">
                            <thead>
                                <tr>
                                    <th>{{'gincomeinfo.th1'|translate }}</th>
                                    <th>{{'gincomeinfo.ttl5'|translate }}</th>
                                    <th>{{'gincomeinfo.ttl6'|translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of table2.data">

                                    <td>
                                        <a (click)="edit8(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                                    </td>

                                    <td> <span *ngIf="data.SUGAR_CANE>0">Sugar Cane, </span>
                                        <span *ngIf="data.MAIZE>0">Maize, </span>
                                        <span *ngIf="data.TAMBACCO>0">Tambacco, </span>
                                        <span *ngIf="data.GRAINS>0">Grains, </span>
                                        <span *ngIf="data.OTHER>0">Other</span>
                                    </td>
                                    <td> {{data['TOTAL']}} </td>

                                </tr>
                            </tbody>
                        </nz-table>
                        <hr>
                        <br>
                    </div>


                </div>
                <!-- other info -->
                <div
                    *ngIf="data1.INCOME_SOURCE_ID==5 || data1.OTHER_INCOME_SOURCE_ID==5 || data1.OTHER_INCOME_SOURCE_ID2 == 5 || data1.OTHER_INCOME_SOURCE_ID3 == 5 || data1.OTHER_INCOME_SOURCE_ID4 == 5">
                    <br>
                    <nz-divider nzText="{{'gincomeinfo.text6'|translate }}"></nz-divider>
                    <div nz-col [nzLg]="{span :22, offset:1}">
                        <div nz-row nzType="flex">
                            <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">

                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12"
                                style="display: flex;justify-content: flex-end">
                                <form nz-form [nzLayout]="'inline'">
                                    <nz-form-item>
                                        <button *ngIf="dataList11.length == 0" nz-button nzType="primary"
                                            (click)="add2()" nzJustify="end">
                                            <i nz-icon nzType="plus"></i>{{'gincomeinfo.button4'|translate }}
                                        </button>
                                    </nz-form-item>
                                </form>
                            </div>
                        </div>
                        <nz-table [nzShowPagination]="false" style="height: 250px;" class="my-scroll no-wrap1"
                            nzBordered [nzFrontPagination]="false" #table2 [nzData]="dataList11"
                            [nzLoading]="loadingRecords2" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
                            [(nzPageSize)]="pageSize">
                            <thead>
                                <tr>
                                    <th>{{'gincomeinfo.th1'|translate }}</th>
                                    <th>{{'gincomeinfo.ttl1'|translate }}</th>
                                    <th>{{'gincomeinfo.ttl2'|translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of table2.data">

                                    <td>
                                        <a (click)="edit2(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                                    </td>

                                    <td> {{data['CURRENT_AGRICULTURE_PRODUCT']}} </td>
                                    <td> {{data['ANNUAL_INCOME_FROM_THIS_LAND']}} </td>

                                </tr>
                            </tbody>
                        </nz-table>
                        <hr>
                        <br>
                    </div>


                </div>
                <!-- Expenditure information -->
                <div>
                    <br>
                    <nz-divider nzText="Expenditure Information"></nz-divider>
                    <div nz-col [nzLg]="{span :22, offset:1}">
                        <div nz-row nzType="flex">
                            <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">

                            </div>
                            <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12"
                                style="display: flex;justify-content: flex-end">
                                <form nz-form [nzLayout]="'inline'">
                                    <nz-form-item>
                                        <button *ngIf="dataList29.length == 0" nz-button nzType="primary"
                                            (click)="add9()" nzJustify="end">
                                            <i nz-icon nzType="plus"></i>{{'gincomeinfo.button4'|translate }}
                                        </button>
                                    </nz-form-item>
                                </form>
                            </div>
                        </div>
                        <nz-table [nzShowPagination]="false" style="height: 250px;" class="my-scroll no-wrap1"
                            nzBordered #table2 [nzFrontPagination]="false" [nzData]="dataList29"
                            [nzLoading]="loadingRecords2" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
                            [(nzPageSize)]="pageSize">
                            <thead>
                                <tr>
                                    <th>{{'gincomeinfo.th1'|translate }}</th>
                                    <th>Details</th>
                                    <th>Expenditure</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of table2.data">

                                    <td>
                                        <a (click)="edit9(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                                    </td>

                                    <td> <span *ngIf="data.HOUSE>0">House, </span>
                                        <span *ngIf="data.TRADE>0">Trade, </span>
                                        <span *ngIf="data.AGRICULTURE>0">Agriculture, </span>
                                        <span *ngIf="data.INSURANCE>0">Insurance, </span>
                                        <span *ngIf="data.EDUCATION>0">Education, </span>
                                        <span *ngIf="data.MISCELLANEOUS>0">Miscellaneous, </span>
                                        <span *ngIf="data.OTHER>0">Other</span>
                                    </td>
                                    <td> {{data['TOTAL']}} </td>

                                </tr>
                            </tbody>
                        </nz-table>
                        <hr>
                        <br>
                    </div>


                </div>
                <!-- Income Expenditure Chart -->
                <div>
                    <br>
                    <!-- <nz-divider nzText="Income Expenditure Chart "></nz-divider> -->




                </div>
            </div>

            <div style="margin-left: 900px" *ngIf="CURRENT_STAGE_ID == 8 && incomeSourceDisable ">
                <!-- <button type="button" nz-button  class="ant-btn"
            style="margin-right: 8px;"><span>{{'common.cancel'|translate}}</span></button> -->
                <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
                    (click)="update()"><span>{{'common.Save'|translate}}</span></button>
            </div>
            <div style="margin-left: 900px" *ngIf="CURRENT_STAGE_ID == 8 && incomeSourceDisable ">
                <!-- <button type="button" nz-button  class="ant-btn"
        style="margin-right: 8px;"><span>{{'common.cancel'|translate}}</span></button> -->
                <!-- <button type="button" *ngIf="dataList1.length >0 || dataList2.length >0" class="ant-btn ant-btn-primary"
                    nz-button [nzLoading]="isButtonSpinning"
                    (click)="update2()"><span>{{'common.Save'|translate}}</span></button> -->
            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <!-- *ngIf="roleid == '1' && stageid == 4" -->
                    <button type="button"
                        *ngIf="roleId =='4' && CURRENT_STAGE_ID == 9 && extraApplicantInformation.IS_APPROVED == false"
                        style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary"
                        nz-button [nzLoading]="isButtonVerifySpinning" nz-popconfirm [nzPopconfirmTitle]="iconTpl"
                        (nzOnConfirm)="confirm2()" (nzOnCancel)="cancel()" nzPopconfirmPlacement="top">
                        <span>{{'basicinfo.m5'|translate}}</span>
                    </button>

                    <ng-template #iconTpl>
                        <h3>{{'basicinfo.m9'|translate}}</h3>
                        <nz-form-item style=" display: inline-block; width: -webkit-fill-available;">
                            <nz-form-label nzRequired nzNoColon>{{'joinbranch.lebel9'|translate}}</nz-form-label>
                            <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                <input nz-input name="name" type="text" [(ngModel)]="extraApplicantInformation.REMARK"
                                    required />
                            </nz-form-control>
                        </nz-form-item>
                    </ng-template>

                    <button type="button"
                        *ngIf="roleId =='4' && CURRENT_STAGE_ID == 9 && extraApplicantInformation.IS_APPROVED == false"
                        style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary"
                        nz-button [nzLoading]="isButtonVerifySpinning" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                        (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()"
                        nzPopconfirmPlacement="top"><span>{{'basicinfo.m8'|translate}}</span></button>



                    <!-- <button type="button" *ngIf="" style="float: right;" class="ant-btn ant-btn-primary"
                        nz-button [nzLoading]="isButtonSpinning"
                        (click)="save()"><span>{{'common.Save'|translate}}</span></button> -->
                </div>



            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <!-- *ngIf="roleid == '1' && stageid == 4" -->
                    <button type="button"
                        *ngIf="roleId =='7' && CURRENT_STAGE_ID == 14 && extraApplicantInformation.IS_APPROVED == true"
                        style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary"
                        nz-button [nzLoading]="isButtonSpinning" nz-popconfirm [nzPopconfirmTitle]="iconTpl"
                        (nzOnConfirm)="confirm2()" (nzOnCancel)="cancel()" nzPopconfirmPlacement="top">
                        <span>{{'basicinfo.m5'|translate}}</span>
                    </button>

                    <ng-template #iconTpl>
                        <h3>{{'basicinfo.m9'|translate}}</h3>
                        <nz-form-item style=" display: inline-block; width: -webkit-fill-available;">
                            <nz-form-label nzRequired nzNoColon>{{'joinbranch.lebel9'|translate}}</nz-form-label>
                            <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                <input nz-input name="name" type="text" [(ngModel)]="extraApplicantInformation.REMARK"
                                    required />
                            </nz-form-control>
                        </nz-form-item>
                    </ng-template>

                    <!-- <button type="button" *ngIf="roleId =='7' && CURRENT_STAGE_ID == 14 && extraApplicantInformation.IS_APPROVED == false"
                        style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary" nz-button
                        [nzLoading]="isButtonSpinning2" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                        (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()"
                        nzPopconfirmPlacement="top"><span>{{'basicinfo.m8'|translate}}</span></button> -->



                    <!-- <button type="button" *ngIf="CURRENT_STAGE_ID == 8"
                        style="float: right;" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
                        (click)="save()"><span>{{'common.Save'|translate}}</span></button> -->
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <!-- *ngIf="roleid == '1' && stageid == 4" -->
                    <button type="button"
                        *ngIf="roleId =='8' && CURRENT_STAGE_ID == 14 && extraApplicantInformation.IS_APPROVED == true"
                        style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary"
                        nz-button [nzLoading]="isButtonSpinning" nz-popconfirm [nzPopconfirmTitle]="iconTpl"
                        (nzOnConfirm)="confirm2()" (nzOnCancel)="cancel()" nzPopconfirmPlacement="top">
                        <span>{{'basicinfo.m5'|translate}}</span>
                    </button>

                    <ng-template #iconTpl>
                        <h3>{{'basicinfo.m9'|translate}}</h3>
                        <nz-form-item style=" display: inline-block; width: -webkit-fill-available;">
                            <nz-form-label nzRequired nzNoColon>{{'joinbranch.lebel9'|translate}}</nz-form-label>
                            <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                <input nz-input name="name" type="text" [(ngModel)]="extraApplicantInformation.REMARK"
                                    required />
                            </nz-form-control>
                        </nz-form-item>
                    </ng-template>

                    <!-- <button type="button" *ngIf="roleId =='7' && CURRENT_STAGE_ID == 14 && extraApplicantInformation.IS_APPROVED == false"
                        style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary" nz-button
                        [nzLoading]="isButtonSpinning2" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                        (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()"
                        nzPopconfirmPlacement="top"><span>{{'basicinfo.m8'|translate}}</span></button> -->



                    <!-- <button type="button" *ngIf="CURRENT_STAGE_ID == 8"
                        style="float: right;" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
                        (click)="save()"><span>{{'common.Save'|translate}}</span></button> -->
                </div>
            </div>
        </nz-spin>
    </form>


</div>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1060" [nzVisible]="drawerVisible1" [nzTitle]="drawerTitle1"
    (nzOnClose)="drawerClose1()" (nzKeyboard)="true">
    <app-business-info [drawerClose1]="closeCallback1" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID"
        [extraApplicantInformation]="extraApplicantInformation" [PROPOSAL_ID]="PROPOSAL_ID" [data4]="drawerData1"
        [addressinfoBussiness]="addressData">
    </app-business-info>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1050" [nzVisible]="drawerVisible2" [nzTitle]="drawerTitle2"
    (nzOnClose)="drawerClose2()" (nzKeyboard)="true">
    <app-agri-info [drawerClose2]="closeCallback2" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID"
        [extraApplicantInformation]="extraApplicantInformation" [data4]="drawerData2">
    </app-agri-info>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1060" [nzVisible]="drawerVisible25" [nzTitle]="drawerTitle25"
    (nzOnClose)="drawerClose25()" (nzKeyboard)="true">
    <app-houserentinfo [drawerClose25]="closeCallback25" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID" [data25]="drawerData25">
    </app-houserentinfo>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1060" [nzVisible]="drawerVisible7" [nzTitle]="drawerTitle7"
    (nzOnClose)="drawerClose7()" (nzKeyboard)="true">
    <app-incomesalaryinfo [drawerClose7]="closeCallback7" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID"
        [addressinfoSalary]="drawerdata12" [data1]="drawerdataa">
    </app-incomesalaryinfo>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="560" [nzVisible]="drawerVisible26" [nzTitle]="drawerTitle26"
    (nzOnClose)="drawerClose26()" (nzKeyboard)="true">
    <app-agricinfo [drawerClose26]="closeCallback26" [data26]="drawerData26" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID">
    </app-agricinfo>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="560" [nzVisible]="drawerVisible9" [nzTitle]="drawerTitle9"
    (nzOnClose)="drawerClose9()" (nzKeyboard)="true">
    <app-expenditureinfo [drawerClose9]="closeCallback9" [data30]="drawerData30" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID">
    </app-expenditureinfo>
</nz-drawer>