<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>

            </div>

        </nz-spin>
    </form>

    <app-tablepigmy [pigmyAccdata]="pigmyAccdata" [CURRENT_STAGE_ID]="CURRENT_STAGE_ID"></app-tablepigmy>




    <div>
        <form nz-form>
            <nz-spin [nzSpinning]="isSpinning">
                <div nz-row>
                    <div nz-col nzSpan="24" class="my-box">
                        <div nz-row>
                            <div nz-col nzSpan="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>{{'depositLoan.label10'|translate }}
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                        <input nz-input type="text" style="width: 100%;" name="TOTAL_AMOUNT"
                                            [(ngModel)]="data.TOTALAMT" (ngModelChange)="ValuationAmounttoWord($event)" />
                                    </nz-form-control>

                                </nz-form-item>
                            </div>

                            <div nz-col nzSpan="6">
                                <nz-form-item>
                                    <!-- <nz-form-label nzRequired nzNoColon>{{'depositLoan.label11'|translate }}
                                    </nz-form-label>
                                    <nz-input-number style="width: 100%;" name="TOTAL_AMT_WORDS"
                                        [(ngModel)]="data.TOTALAMTWORDS" [nzMin]="1" [nzStep]="1"
                                        required></nz-input-number> -->

                                    <nz-form-label nzRequired nzNoColon>{{'depositLoan.label11'|translate }}
                                    </nz-form-label>


                                    <!-- [(ngModel)]="data.TOTALAMTWORDS" -->
                                    <nz-form-control *ngIf="browserLang =='en'"
                                        nzErrorTip="{{ 'common_text.nzErrorTip' | translate}}">
                                        <textarea nz-input name="TOTAL_AMT_WORDS" [(ngModel)]="data.TOTALAMTWORDS"
                                            [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                                    </nz-form-control>

                                    <nz-form-control *ngIf="browserLang =='kn'">
                                        <input nz-input name="TOTALAMT_IN_WORDS" type="text"
                                            [(ngModel)]="data.TOTALAMTWORDS" />
                                    </nz-form-control>


                                </nz-form-item>




                            </div>


                        </div>



                        <div nz-row>
                            <div nz-col nzSpan="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>{{'depositLoan.label7'|translate }}
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                        <input nz-input type="text" style="width: 100%;" name="SANCTION_AMOUNT"
                                            [(ngModel)]="data.SANCTION_AMOUNT3" pattern="^\d+(\.\d{1,2})?$" required />
                                    </nz-form-control>

                                </nz-form-item>
                            </div>
                            <div nz-col nzSpan="4">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>{{ 'depositLoan.label8' | translate
                                        }}</nz-form-label>

                                    <input nz-input type="text" [ngModel]="data.INTEREST_RATE1 | number: '1.2-2'"
                                        (ngModelChange)="updateInterestRate($event)" />
                                    <!-- Display the formatted value with two decimal places -->


                                </nz-form-item>
                            </div>
                            <div nz-col nzSpan="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>{{'depositLoan.label9'|translate }}
                                    </nz-form-label>
                                    <nz-input-number style="width: 100%;" name="DAYS" [(ngModel)]="data.DAYS"
                                        [nzMin]="1" [nzStep]="1" required></nz-input-number>


                                </nz-form-item>


                            </div>
                            <!-- <div nz-col nzSpan="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired nzNoColon>{{ 'loaninfomation.loanamount_title0' | translate}}
                                        {{ 'basicinfo.text' | translate}}
                                    </nz-form-label>
                                    <nz-form-control nzErrorTip="{{ 'common_text.nzErrorTip' | translate}}">
                                        <textarea nz-input name="AMOUNT_IN_WORDSSS" [(ngModel)]="data.TOTAL_AMOUNT_IN_WORDS"
                                            [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div> -->











                        </div>
                    </div>
                </div>

            </nz-spin>
        </form>
    </div>







    <br />
    <div style="margin-left: 900px" *ngIf="CURRENT_STAGE_ID == 8 && extraApplicantInformation.IS_APPROVED == false">
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
            (click)="save1()"><span>{{'common.Save'| translate}}</span></button>
    </div>
</div>