<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row
                *ngIf="extraApplicantInformation.REMARK !='' && extraApplicantInformation.IS_VERIFIED && !extraApplicantInformation.IS_APPROVED"
                style="border-radius: 2px;border: 1px solid #91d5ff;background-color:#e6f7ff;padding:5px 10px;">
                <div nz-col nzSpan="1" style="text-align: center;"><i nz-icon nzType="exclamation-circle" nzTheme="fill"
                        style="color: rgb(32, 119, 250);"></i></div>
                <div nz-col nzSpan="23">
                    <h4 style="margin-bottom: 2px;"> {{'basicinfo.m7'|translate}}</h4>
                    {{extraApplicantInformation.REMARK}}

                </div>
            </div>
            
            <br>
            
            <div nz-row>
                <div nz-col nzSpan="11" class="my-box">
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label1'|translate }}
                                </nz-form-label>
                                <nz-form-control nzHasFeedback nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="name" type="text" [(ngModel)]="data.APPLICANT_NAME"
                                        required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon> {{'gpersonalinfo.label32'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="occupation" type="text" [(ngModel)]="data.OCCUPATION"
                                        required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>
                                    {{'gpersonalinfo.label38'|translate }}</nz-form-label>
                                <nz-form-control>
                                    <nz-input-number name="AGE" style="width: 100%;" [(ngModel)]="data.AGE"
                                        [nzMax]="999" [nzMin]="1">
                                    </nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>
                                    {{'gpersonalinfo.label39'|translate }}</nz-form-label>
                                <nz-form-control>
                                    <nz-input-number name="YEAR" style="width: 100%;" [(ngModel)]="data.YEAR"
                                        [nzMax]="9999999999999999999999" [nzMin]="1900" [nzPlaceHolder]="'eg.2021'">
                                    </nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row>

                 

                    </div>
                </div>


                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="12" class="my-box">
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label14'|translate }}</nz-form-label>
                                <nz-form-control nzHasFeedback
                                    nzErrorTip="{{'gpersonalinfo.label14.nzErrorTip'|translate }}">
                                    <input nz-input disabled name="mobile1" maxlength="10" pattern="^[6-9]\d{9}$"
                                        [(ngModel)]="data.MOBILE_NO1" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzNoColon> {{'gpersonalinfo.label7'|translate }}
                                </nz-form-label>
                                <nz-form-control nzHasFeedback>
                                    <input nz-input name="religion" type="text" [(ngModel)]="data.RELIGION" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label12'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="membershipnumber" type="text"
                                        [(ngModel)]="data.MEMBERSHIP_NUMBER" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label37'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="MEMBERSHIP_AMOUNT" type="text"
                                        [(ngModel)]="data.MEMBERSHIP_AMOUNT" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label36'|translate }}
                                </nz-form-label>
                                <nz-form-control>

                                    <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}"
                                      placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data.DATE_OF_MEMBERSHIP" name="DATE_OF_MEMBERSHIP" />

                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <!-- 
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon> {{'gpersonalinfo.label7'|translate }}
                                </nz-form-label>
                                <nz-form-control nzHasFeedback nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="religion" type="text" [(ngModel)]="data.RELIGION" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label8'|translate }}</nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="cast" type="text" [(ngModel)]="data.CAST" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div> -->
                    <!-- <div nz-row>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label10'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'gpersonalinfo.lebel10.nzErrorTip'|translate }}">
                                    <input nz-input name="pan" type="text" maxlength="10"
                                        pattern="[A-Za-z]{5}[0-9]{4}[A-Za-z]{1}" [(ngModel)]="data.PAN" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label11'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'gpersonalinfo.label11.nzErrorTip'|translate }}">
                                    <input nz-input name="adharnumber" maxlength="12" type="text" pattern="[0-9]{12}"
                                        [(ngModel)]="data.AADHAR" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                    </div> -->
                </div>
            </div>
            <!-- <nz-divider nzText="{{'gpersonalinfo.text1'|translate }}"></nz-divider>
            <div nz-row class="my-box"> -->
            <!-- <div nz-col nzSpan="8">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gpersonalinfo.label13'|translate }}</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'gpersonalinfo.label13.nzErrorTip'|translate }}">
                            <input type="text" name="search"
                                pattern="^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"
                                nz-input [(ngModel)]="data.EMAIL_ID" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="1"></div> -->


            <!-- <div nz-col nzSpan="1"></div>


                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gpersonalinfo.label15'|translate }}</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'gpersonalinfo.label14.nzErrorTip'|translate }}">
                            <input nz-input name="mobile2" maxlength="10" pattern="^[6-9]\d{9}$"
                                [(ngModel)]="data.MOBILE_NO2" />
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
            <!-- <div nz-col nzSpan="1"></div>

                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gpersonalinfo.label16'|translate }}</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'gpersonalinfo.label16.nzErrorTip'|translate }}">
                            <input nz-input name="landlineNo" pattern="^\d+" minlength="10" maxlength="14"
                                [(ngModel)]="data.LANDLINE_NO" />
                        </nz-form-control>
                    </nz-form-item>
                </div> -->


            <!-- </div> -->

            <!-- <div nz-row class="my-box"> -->

            <!-- <div nz-col nzSpan="1"></div>

                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gpersonalinfo.label17'|translate }} </nz-form-label>
                        <nz-form-control>
                            <nz-input-number name="networthamount" style="width: 100%;"
                                [(ngModel)]="data.NET_WORTH_AMOUNT" [nzMax]="99999999999999999999999999" [nzMin]="0"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="4">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'gpersonalinfo.label18'|translate }} </nz-form-label>
                        <nz-form-control>
                            <nz-date-picker nzFormat="dd-MM-yyyy" [(ngModel)]="data.NET_WORTH_AS_ON" style="width: 100%;"
                                nzPlaceHolder="{{'gpersonalinfo.placeholder2'|translate }}" name="netwothason">
                            </nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->
            <!-- </div> -->



            <!-- <nz-divider nzText="पत्त्याची माहिती "></nz-divider> -->
            <div nz-row>


                <div nz-col nzSpan="24" class="my-box">
                    <div>
                        <nz-form-label style="font-weight: bold;">{{'gpersonalinfo.label19'|translate }}
                        </nz-form-label>
                    </div>


                    <div nz-row>

                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzNoColon>
                                    {{'gpersonalinfo.label20'|translate }}</nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="houseno" type="text"
                                        [(ngModel)]="addressinfoCurrent.HOUSE_NO" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div nz-col nzSpan="1"></div> -->

                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzNoColon> {{'gpersonalinfo.label21'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="building" type="text"
                                        [(ngModel)]="addressinfoCurrent.BUILDING" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- </div>

                    <div nz-row> -->
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzNoColon>{{'gpersonalinfo.label22'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="landmark" type="text"
                                        [(ngModel)]="addressinfoCurrent.LANDMARK" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div nz-col nzSpan="1"></div> -->
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label23'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="village" type="text"
                                        [(ngModel)]="addressinfoCurrent.VILLAGE" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>


                        <!-- </div>

                    <div nz-row> -->
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label24'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="taluka" type="text" [(ngModel)]="addressinfoCurrent.TALUKA"
                                        (ngModelChange)="onChanges($event)" [nzAutocomplete]="auto" />
                                    <nz-autocomplete #auto>
                                        <nz-auto-option *ngFor="let option of talukas" [nzValue]="option.TALUKA">
                                            {{option.TALUKA }},<small>{{ option.PINCODE }}</small>
                                        </nz-auto-option>
                                    </nz-autocomplete>

                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div nz-col nzSpan="1"></div> -->

                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label25'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="distrcict" type="text"
                                        [(ngModel)]="addressinfoCurrent.DISTRICT" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>



                        <!-- </div>


                    <div nz-row> -->
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label26'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="state" type="text" [(ngModel)]="addressinfoCurrent.STATE" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <!-- <div nz-col nzSpan="1"></div> -->

                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label27'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <input nz-input name="pincode" maxlength="6" type="text"
                                        [(ngModel)]="addressinfoCurrent.PINCODE" (ngModelChange)="onChanges2($event)" [nzAutocomplete]="auto4" />
                                        <nz-autocomplete #auto4>
                                            <nz-auto-option *ngFor="let option of pincodes" [nzValue]="option">
                                                {{option}}
                                            </nz-auto-option>
                                        </nz-autocomplete>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>

                <!-- <div nz-col nzSpan="2"></div> -->

                <!-- <div nz-col nzSpan="11" class="my-box">
                    <div>
                        <nz-form-label style="font-weight: bold;">{{'gpersonalinfo.label28'|translate }}
                        </nz-form-label>
                        <span style="position: absolute;left: 299px;"> <a (click)="copyClick()"><i nz-icon nzType="copy"
                                    nzTheme="outline"></i>{{'gpersonalinfo.label29'|translate }} </a> </span>

                    </div>

                    <div nz-row>

                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label style="max-width: 169px;" nzRequired nzNoColon>
                                    {{'gpersonalinfo.label20'|translate }}</nz-form-label>

                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="houseno1" type="text"
                                        [(ngModel)]="addressinfoPermanent.HOUSE_NO" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1"></div>

                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon> {{'gpersonalinfo.label21'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="building1" type="text"
                                        [(ngModel)]="addressinfoPermanent.BUILDING" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label22'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="landmark1" type="text"
                                        [(ngModel)]="addressinfoPermanent.LANDMARK" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label23'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="village1" type="text"
                                        [(ngModel)]="addressinfoPermanent.VILLAGE" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>


                    </div>
                    <div nz-row>

                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label24'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="taluka1" type="text" [(ngModel)]="addressinfoPermanent.TALUKA"
                                        required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1"></div>
                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label25'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="distrcict1" type="text"
                                        [(ngModel)]="addressinfoPermanent.DISTRICT" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>




                    </div>


                    <div nz-row>
                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label26'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="state1" type="text" [(ngModel)]="addressinfoPermanent.STATE"
                                        required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="1"></div>

                        <div nz-col nzSpan="11">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label27'|translate }}
                                </nz-form-label>
                                <nz-form-control nzHasFeedback
                                    nzErrorTip="{{'cash-credit-loan.label25.nzErrorTip'| translate}}">
                                    <input nz-input name="pincode1" maxlength="6" pattern="^[1-9][0-9]{5}$" type="text"
                                        [(ngModel)]="addressinfoPermanent.PINCODE" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <nz-divider nzText="{{'gpersonalinfo.text2'|translate }}"></nz-divider> -->
            <div nz-row class="my-box">

                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzNoColon>
                            {{'gpersonalinfo.label9'|translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number name="membersinfamily" style="width: 100%;"
                                [(ngModel)]="data.MEMBERS_IN_FAMILY" [nzMax]="999" [nzMin]="0">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzNoColon>
                            {{'gpersonalinfo.label34'|translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number name="AUDULT_COUNT" style="width: 100%;" [(ngModel)]="data.AUDULT_COUNT"
                                [nzMax]="999" [nzMin]="0">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzNoColon>
                            {{'gpersonalinfo.label35'|translate }}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number name="CHILDREN_COUNT" style="width: 100%;"
                                [(ngModel)]="data.CHILDREN_COUNT" [nzMax]="999" [nzMin]="0">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- <div nz-row class="my-box">
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label30'|translate }} </nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="name1" type="text" [(ngModel)]="NAME" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label31'|translate }} </nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="relation" type="text" [(ngModel)]="RELATION" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon> {{'gpersonalinfo.label32'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="occupation" type="text" [(ngModel)]="OCCUPATION" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>

                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'gpersonalinfo.label33'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <nz-input-number name="Yearlyincome" style="width: 100%;" [(ngModel)]="YEARLY_INCOME"
                                [nzMin]="0" [nzMax]="99999999999999999999999999"></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="1">
                    <nz-form-item style="margin-bottom: 0px;">
                        <button nz-button nzType="primary" style="margin-left: 2px;margin-top: 32px;"
                            (click)="addData()"><i nz-icon nzType="plus"></i></button>
                    </nz-form-item>
                </div>
            </div> -->

            <!-- <div nz-row>
                <div nz-col nzSpan="24" style="align-content: center;">
                    <nz-table class="my-scroll no-wrap1" style="max-height: 300px;overflow: auto;" nzBordered #table
                        [nzFrontPagination]="false" [nzData]="familyDeatils">
                        <thead>
                            <tr>
                                <th>{{'gpersonalinfo.th1'|translate }}</th>
                                <th>{{'gpersonalinfo.th2'|translate }}</th>
                                <th>{{'gpersonalinfo.label30'|translate }} </th>
                                <th>{{'gpersonalinfo.label31'|translate }} </th>
                                <th>{{'gpersonalinfo.label32'|translate }}</th>
                                <th>{{'gpersonalinfo.label33'|translate }}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of table.data;index as i ">
                                <td>
                                    <a (click)="deleteRow(data)"> <i nz-icon nzType="delete" nzTheme="outline"
                                            [nzTwotoneColor]="'#ff4d4f'"></i></a>
                                </td>
                                <td>
                                    <a (click)="editRow(data,i)"> <i nz-icon nzType="edit" nzTheme="outline"></i></a>
                                </td>
                                <td>{{data.NAME}}</td>
                                <td>{{data.RELATION}}</td>
                                <td>{{data.OCCUPATION}}</td>
                                <td>{{data.YEARLY_INCOME}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div> -->


        </nz-spin>

    </form>
    <div nz-row>
        <div nz-col nzSpan="24">
            <!-- *ngIf="roleid == '1' && stageid == 4" -->
            <button type="button" *ngIf="CURRENT_STAGE_ID == 9 && extraApplicantInformation.IS_APPROVED == false"
                style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary" nz-button
                [nzLoading]="isButtonSpinning2" nz-popconfirm [nzPopconfirmTitle]="iconTpl" (nzOnConfirm)="confirm2()"
                (nzOnCancel)="cancel()" nzPopconfirmPlacement="top">
                <span>{{'basicinfo.m5'|translate}}</span>
            </button>

            <ng-template #iconTpl>
                <h3>{{'basicinfo.m9'|translate}}</h3>
                <nz-form-item style=" display: inline-block; width: -webkit-fill-available;">
                    <nz-form-label nzRequired nzNoColon>{{'joinbranch.lebel9'|translate}}</nz-form-label>
                    <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                        <input nz-input name="name" type="text" [(ngModel)]="extraApplicantInformation.REMARK"
                            required />
                    </nz-form-control>
                </nz-form-item>
            </ng-template>

            <button type="button" *ngIf="CURRENT_STAGE_ID == 9 && extraApplicantInformation.IS_APPROVED == false"
                style="float: right; margin-left: 10px; margin-right: 10px;" class="ant-btn ant-btn-primary" nz-button
                [nzLoading]="isButtonSpinning2" nz-popconfirm nzPopconfirmTitle="Are you sure?"
                (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()"
                nzPopconfirmPlacement="top"><span>{{'basicinfo.m8'|translate}}</span></button>



            <button type="button" *ngIf="CURRENT_STAGE_ID == 8 && extraApplicantInformation.IS_APPROVED == false"
                style="float: right;" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
                (click)="save()"><span>{{'common.Save'|translate}}</span></button>
        </div>
    </div>

</div>