<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
    <div class="formname"> {{formTitle}}</div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16" style="display: flex;justify-content: flex-end">
      <form nz-form [nzLayout]="'inline'">
        <nz-form-item >
          <button nz-button nzType="primary" [appExport]="dataList1" fileName="LoanTypes"><i nz-icon nzType="file-excel" nzTheme="outline"></i></button>
      </nz-form-item>
        <nz-form-item>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" name="search" nz-input placeholder="{{'loantypes.Search.placeholder' | translate}} " [(ngModel)]="searchText" />
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" (click)="search(true)" nzSearch><i nz-icon nzType="search"></i></button>
          </ng-template>
        </nz-form-item>
        <nz-form-item>
          <button nz-button nzType="primary" (click)="add()" nzJustify="end">
            <i nz-icon nzType="plus"></i>{{'loantypes.button1.name' | translate}} 
          </button>
        </nz-form-item>
      </form>
    </div>
  </div>
  
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-table class="my-scroll no-wrap1" nzBordered #table nzShowSizeChanger [nzFrontPagination]="false"
        [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)">
        <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <th>{{'loantypes.table1.th1' | translate}} </th>
            <!-- <th>Map </th> -->
            <th *ngFor="let column of columns" nzShowSort nzSortKey={{column[0]}}>{{column[1]}}</th>
            <th nzShowSort nzSortKey="STATUS">{{'loantypes.table1.th2' | translate}} </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
            <td>
              <a (click)="edit(data)">{{'loantypes.table1.td1' | translate}} </a>
            </td>
            <!-- <td>
              <a (click)="mapDocument(data)">Map Document</a>
            </td> -->
           
            <td *ngFor="let column of columns">{{data[column[0]]}}</td>
            <td >
                <i nz-icon *ngIf="data.STATUS" [nzType]="'check-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                <i nz-icon *ngIf="!data.STATUS" [nzType]="'close-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#f50'"></i>
              </td> 
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="320" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">
    <app-loantype [drawerClose]="closeCallback" [data]="drawerData"></app-loantype>
  </nz-drawer>
  
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="800"
  [nzVisible]="drawerVisible1" [nzTitle]="drawerTitle1"
  (nzOnClose)="drawerClose1()" (nzKeyboard)="true">
  <app-loantypedocumentmapping [drawerClose]="closeCallback1" [drawerVisible]="drawerVisible1" [data]="drawerData" [loadTypeDocumentData]="drawerData2"></app-loantypedocumentmapping>
  </nz-drawer>