<div nz-row nzType="flex" >
    <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12" >
       <div class="formname">  {{formTitle}}</div> 
    </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="12" style="display: flex;justify-content: flex-end">
          <form nz-form [nzLayout]="'inline'">
            <nz-form-item >
              <button nz-button nzType="primary" [appExport]="dataList1" fileName="Notifications"><i nz-icon nzType="file-excel" nzTheme="outline"></i></button>
          </nz-form-item>
                           <nz-form-item>
              <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" name="search" nz-input placeholder="{{'notificationmasters.Search.placeholder' | translate}}" [(ngModel)]="searchText" />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" (click)="search(true)" nzSearch><i nz-icon nzType="search"></i></button>
              </ng-template>
            </nz-form-item>
            <nz-form-item>
                <button nz-button nzType="primary" (click)="add()" nzJustify="end">
                    <i nz-icon nzType="plus"></i>{{'notificationmasters.button1.name' | translate}}
                  </button>
            </nz-form-item>
          </form>
      </div>
</div>

<div nz-row >
    <div nz-col nzSpan="24" >
        <nz-table class="my-scroll no-wrap1"
        nzBordered
        #leaveTypeTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="dataList"
        [nzLoading]="loadingRecords"
        [nzTotal]="totalRecords"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="search()"
        (nzPageSizeChange)="search(true)"
      >
           <thead (nzSortChange)="sort($event)" nzSingleSort>
          <tr>
            <!-- <th>action</th> -->
            <th *ngFor="let column of columns" nzShowSort nzSortKey={{column[0]}}>{{column[1]}}</th>
            <th nzShowSort nzSortKey="TYPE">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of leaveTypeTable.data">
            <!-- <td>
              <a (click)="edit(data)">Edit</a>
            </td> -->
            <td *ngFor="let column of columns">{{data[column[0]]}}</td>
            <td>{{getType(data.TYPE)}}</td>
          </tr>
        </tbody>
      </nz-table>
      </div>
</div>


<nz-drawer  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
[nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="320"
[nzVisible]="drawerVisible" [nzTitle]="drawerTitle"
(nzOnClose)="drawerClose()" (nzKeyboard)="true">
<app-notificationmaster [drawerClose]="closeCallback" [data]="drawerData"></app-notificationmaster>
</nz-drawer>








