<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">


            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{ 'subloantype.name_title' | translate}}({{'common.marathi' | translate}}) </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{ 'common_text.nzErrorTip' | translate}}">
                            <input nz-input name="name" type="text" [(ngModel)]="data.NAME" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{ 'subloantype.name_title' | translate}}({{'common.english' | translate}}) </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{ 'common_text.nzErrorTip' | translate}}">
                            <input nz-input name="name" type="text" [(ngModel)]="data.NAME_EN" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{ 'subloantype.name_title' | translate}}({{'common.kannada' | translate}}) </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{ 'common_text.nzErrorTip' | translate}}">
                            <input nz-input name="name" type="text" [(ngModel)]="data.NAME_KN" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{ 'subloantype.types_title' | translate}} </nz-form-label>
                        <nz-form-control>
                           <nz-checkbox-group name="types" [(ngModel)]="data.types"></nz-checkbox-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                    </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label>{{ 'subloantype.is_active_title' | translate}}</nz-form-label>
                        <nz-form-control>
                            <nz-switch name="is_active" [(ngModel)]="data.IS_ACTIVE"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>



        </nz-spin>
    </form>
    <div class="footer">
        <button type="button" nz-button (click)="close()" class="ant-btn"
            style="margin-right: 8px;"><span>{{ 'common_text.cancel_button_title' | translate}}</span></button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" (click)="save(false)"><span>{{ 'common_text.footer_btn1' | translate}}</span></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save(true)">{{ 'common_text.footer_btn2' | translate}}</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
            (click)="save(false)"><span> {{ 'common_text.footer_btn4' | translate}} </span></button>
    </div>
</div>