.login-form {
    max-width: 300px;
}

.main_form_body{
    width:100%;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.limiter {
    width: 100%;
    margin: auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 15px;
    background: #f2f2f2;
    margin: auto;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 40px 30px 40px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 45px;
    background-color: #140C62;
    border-radius: 5px;
    border: 1px solid #140C62;
}

.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient( to left, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(to left, #21d4fd, #b721ff, #21d4fd, #b721ff);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.zmdi-font:before {
    content: '\f16a';
}

.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.label2 {
    margin-left: 43px;
    margin-right: 43px;
}

.label1 {
    margin: 0px !important;
}

.label3 {
    margin: 0px !important;
}


.main-container__marquee {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-height: 2rem;
    overflow-x: hidden;
    font-family: "Merriweather", serif;
    text-transform: camalcase;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(190, 0, 0);
    margin: 30px 0 0;
}

.main-container__marquee-track {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
}

.main-container__marquee-items {
    flex-shrink: 0;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    min-width: 100%;
    
    animation: marquee 20s linear infinite;
    
    
}

.main-container__marquee-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: auto;
    transition: all 0.1s ease-in-out;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

