<div>
    <!-- <h2>
        धन्वंतरी लोन</h2> -->
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzSpan="24" class="my-box">
                    <div nz-row>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label1'|translate }}</nz-form-label>
                                <nz-form-control>
                                    <nz-select name="PURPOSE_OF_LOAN" [(ngModel)]="data.PURPOSE_OF_LOAN"
                                        nzPlaceHolder="{{'dhanwantari-loan.placeholder1'|translate }}" [nzDisabled]="all">
                                        <nz-option [nzValue]="'1'" nzLabel="{{'dhanwantari-loan.label1.option1'|translate }}"></nz-option>
                                        <nz-option [nzValue]="'2'" nzLabel="{{'dhanwantari-loan.label1.option2'|translate }}"></nz-option>
                                        <nz-option [nzValue]="'3'" nzLabel="{{'dhanwantari-loan.label1.option3'|translate }}">
                                        </nz-option>

                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="16">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label2'|translate }} </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <textarea nz-input name="PROFESSIONAL_EXPERTISE_SKILL"
                                        [(ngModel)]="data.PROFESSIONAL_EXPERTISE_SKILL"
                                        [nzAutosize]="{ minRows: 1, maxRows: 4 }" required></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="24" class="my-box" *ngIf="data.PURPOSE_OF_LOAN == '2' || data.PURPOSE_OF_LOAN == '3'">
                    <div nz-row>

                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '2' ">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label3'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <textarea nz-input name="NATURE_OF_MACHINERY" [(ngModel)]="data.NATURE_OF_MACHINERY"
                                        [nzAutosize]="{ minRows: 1, maxRows: 4 }" required></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '2' "> 
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label4'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <textarea nz-input name="DETAILS_OF_MACHINERY"
                                        [(ngModel)]="data.DETAILS_OF_MACHINERY"
                                        [nzAutosize]="{ minRows: 1, maxRows: 4 }" required></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '2' ">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label5'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="COMPANY_OF_MACHINERY" type="text"
                                        [(ngModel)]="data.COMPANY_OF_MACHINERY" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '2' ">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label6'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="EXPECTED_INCOME_PER_ANNUM"
                                        nzPlaceHolder= "{{'dhanwantari-loan.label6'|translate }}"
                                        [(ngModel)]="data.EXPECTED_INCOME_PER_ANNUM" [nzMin]="0" [nzMax]="99999999999999999999999999"
                                        [nzStep]="1" required></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label7'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input name="NAME_OF_DEALER_FIRM" type="text"
                                        [(ngModel)]="data.NAME_OF_DEALER_FIRM" required />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="4">
                            <nz-form-item>
                                <label  style="color: black;">{{'dhanwantari-loan.label8'|translate }}
                                </label>
                                <nz-form-control>
                                    <nz-switch name="IS_PAID_ADVANCE_AMOUNT" [(ngModel)]="data.IS_PAID_ADVANCE_AMOUNT"
                                         nzCheckedChildren="{{'common.switch.yes'|translate}}"  nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                                    </nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="4" *ngIf="data.IS_PAID_ADVANCE_AMOUNT">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label9'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <nz-input-number style="width: 100%;" name="ADVANCE_PAYMENT_TO_DEALER"
                                        nzPlaceHolder= "{{'dhanwantari-loan.label9'|translate }} '"
                                        [(ngModel)]="data.ADVANCE_PAYMENT_TO_DEALER" [nzMin]="1"
                                        [nzMax]="99999999999999999999999999" [nzStep]="1" required></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="4" *ngIf="!data.IS_PAID_ADVANCE_AMOUNT">
                            
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon *ngIf="data.PURPOSE_OF_LOAN == '2'">{{'dhanwantari-loan.label10'|translate }}</nz-form-label>
                                <nz-form-label nzRequired nzNoColon *ngIf="data.PURPOSE_OF_LOAN == '3'">{{'dhanwantari-loan.label11'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="VALIDITY"
                                        nzPlaceHolder= "{{'dhanwantari-loan.placeholder2'|translate }}" [(ngModel)]="data.VALIDITY" [nzMin]="1"
                                        [nzMax]="99999999999999999999999999" [nzStep]="1"></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '3'">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon *ngIf="data.PURPOSE_OF_LOAN == '3'">{{'dhanwantari-loan.label12'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <nz-radio-group name="AVAILABILITY" [(ngModel)]="data.AVAILABILITY"
                                        nzButtonStyle="solid">
                                        <label nz-radio nzValue="R">{{'dhanwantari-loan.label12.option1'|translate }}</label>
                                        <label nz-radio nzValue="C">{{'dhanwantari-loan.label12.option2'|translate }}</label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '2'">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon *ngIf="data.PURPOSE_OF_LOAN == '2'">{{'dhanwantari-loan.label13'|translate }}</nz-form-label>
                                <nz-form-control>
                                    <nz-radio-group name="TYPE" [(ngModel)]="data.TYPE" nzButtonStyle="solid">
                                        <label nz-radio nzValue="N">{{'dhanwantari-loan.label13.option1'|translate }} </label>
                                        <label nz-radio nzValue="U">{{'dhanwantari-loan.label13.option2'|translate }}</label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '3' && data.AVAILABILITY=='C'">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label14'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="AMOUNT_OF_QUOTATION" type="text"
                                        nzPlaceHolder= "{{'dhanwantari-loan.label14'|translate }}"
                                        [(ngModel)]="data.AMOUNT_OF_QUOTATION" [nzMin]="0" [nzMax]="99999999999999999999999999"
                                        [nzStep]="1"></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div> 
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '3' && data.AVAILABILITY=='R'">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label15'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="AMOUNT_OF_QUOTATION" type="text"
                                        nzPlaceHolder= "{{'dhanwantari-loan.label15'|translate }}"
                                        [(ngModel)]="data.AMOUNT_OF_QUOTATION" [nzMin]="0" [nzMax]="99999999999999999999999999"
                                        [nzStep]="1"></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '3' && data.AVAILABILITY=='R'">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label16'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-year-picker name="YEAR_OF_ORIGINAL_PURCHASE" style="width: 100%;"
                                        [(ngModel)]="data.YEAR_OF_ORIGINAL_PURCHASE" (keydown.backspace)="focusss6($event)" (keydown.delete)="focusss6($event)"
                                        [nzDisabledDate]="disabledDate" nzPlaceHolder="{{'dhanwantari-loan.label16'|translate }} ">
                                    </nz-year-picker>

                                </nz-form-control>
                            </nz-form-item>
                        </div> 
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '3' && data.AVAILABILITY=='C'">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label17'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}"
                                    placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data.DATE_OF_QUOTATION" name="DATE_OF_QUOTATION" />
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        
                       
                        <div nz-col nzSpan="8" *ngIf="data.PURPOSE_OF_LOAN == '2' ">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label18'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <nz-switch name="IS_RELATED_TO_BUSINESS" [(ngModel)]="data.IS_RELATED_TO_BUSINESS"
                                         nzCheckedChildren="{{'common.switch.yes'|translate}}"  nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                                    </nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>

                <div nz-col nzSpan="24" class="my-box" *ngIf="data.PURPOSE_OF_LOAN == '2'">
                    <div nz-row>

                        <div nz-col nzSpan="24" *ngIf="data.TYPE == 'N' ">
                            <div nz-row>

                                <div nz-col nzSpan="8">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label19'|translate }}</nz-form-label>
                                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                            <nz-input-number style="width: 100%;" name="AMOUNT_OF_QUOTATION" type="text"
                                                nzPlaceHolder= "{{'dhanwantari-loan.label19'|translate }}"
                                                [(ngModel)]="data.AMOUNT_OF_QUOTATION" [nzMin]="0" [nzMax]="99999999999999999999999999"
                                                [nzStep]="1"></nz-input-number>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="8">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label20'|translate }}</nz-form-label>
                                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                            <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}"
                                            placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data.DATE_OF_QUOTATION" name="DATE_OF_QUOTATION" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                        <div nz-col nzSpan="24" *ngIf="data.TYPE == 'U' ">
                            <div nz-row>

                                <div nz-col nzSpan="4">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label21'|translate }}</nz-form-label>
                                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                            <nz-input-number style="width: 100%;" name="PURCHASE_AMOUNT"
                                                nzPlaceHolder= "{{'dhanwantari-loan.label21'|translate }}" [(ngModel)]="data.PURCHASE_AMOUNT"
                                                [nzMin]="1" [nzMax]="99999999999999999999999999" [nzStep]="0"></nz-input-number>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="4">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label22'|translate }}</nz-form-label>
                                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                            <nz-year-picker name="YEAR_OF_ORIGINAL_PURCHASE" style="width: 100%;"
                                                [(ngModel)]="data.YEAR_OF_ORIGINAL_PURCHASE" (keydown.backspace)="focusss5($event)" (keydown.delete)="focusss5($event)"
                                                [nzDisabledDate]="disabledDate" nzPlaceHolder="{{'dhanwantari-loan.label22'|translate }} ">
                                            </nz-year-picker>

                                        </nz-form-control>
                                    </nz-form-item>
                                </div>

                                <div nz-col nzSpan="8">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label23'|translate }}
                                        </nz-form-label>
                                        <nz-form-control>
                                            <nz-switch name="IS_AGREEMENT_WITH_DEALER"
                                                [(ngModel)]="data.IS_AGREEMENT_WITH_DEALER"  nzCheckedChildren="{{'common.switch.yes'|translate}}"
                                                 nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                                            </nz-switch>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="8">
                                    <nz-form-item>
                                        <nz-form-label  nzNoColon>{{'dhanwantari-loan.label24'|translate }}
                                        </nz-form-label>
                                        <nz-form-control>
                                            <nz-switch name="IS_VALUATION_DONE" [(ngModel)]="data.IS_VALUATION_DONE"
                                                 nzCheckedChildren="{{'common.switch.yes'|translate}}"  nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                                            </nz-switch>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="8" *ngIf="data.IS_VALUATION_DONE">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label25'|translate }}
                                        </nz-form-label>
                                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                            <input nz-input type="text" name="VALUATOR_NAME"
                                                [(ngModel)]="data.VALUATOR_NAME" required>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="4" *ngIf="data.IS_VALUATION_DONE">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label26'|translate }}</nz-form-label>
                                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                            <input nz-input [textMask]="{mask: mask,guide:true,keepCharPositions:true,pipe:autoCorrectedDatePipe}"
                                            placeholder="dd/mm/yyyy" type="text" [(ngModel)]="data.VALUATION_DATE" name="VALUATION_DATE" />
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div nz-col nzSpan="4" *ngIf="data.IS_VALUATION_DONE">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label27'|translate }} </nz-form-label>
                                        <nz-form-control>
                                            <nz-input-number style="width: 100%;" name="VALUATION_AMOUNT"
                                                type="text" nzPlaceHolder= "{{'dhanwantari-loan.label27'|translate }}"
                                                [(ngModel)]="data.VALUATION_AMOUNT" [nzMin]="0"
                                                [nzMax]="99999999999999999999999999" [nzStep]="1" required></nz-input-number>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24" class="my-box" *ngIf="data.PURPOSE_OF_LOAN == '1'">
                    <div nz-row>
                        <div nz-col nzSpan="13">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label28'|translate }}</nz-form-label>
                                    <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                        <input nz-input name="NAME_OF_BUILDER_DEVELOPER" type="text"
                                            [(ngModel)]="data.NAME_OF_BUILDER_DEVELOPER" required />
                                    </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="10" nzOffset='1'>
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label29'|translate }}
                                </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-radio-group name="IS_PLOT_NA_OR_NA_ORDERED"
                                        [(ngModel)]="data.IS_PLOT_NA_OR_NA_ORDERED" nzButtonStyle="solid">
                                        <label nz-radio nzValue="N">{{'dhanwantari-loan.label29.option1'|translate }}</label>
                                        <label nz-radio nzValue="O">{{'dhanwantari-loan.label29.option2'|translate }}</label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label30'|translate }} </nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="AREA_OF_PLOT"
                                        nzPlaceHolder= "{{'dhanwantari-loan.placeholder3'|translate }}" [(ngModel)]="data.AREA_OF_PLOT"
                                        [nzMin]="0" [nzMax]="99999999999999999999999999" [nzStep]="1" required></nz-input-number> 
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="7">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label31'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="EXPECTED_TIME_OF_CONSTRUCTION"
                                        nzPlaceHolder= "{{'dhanwantari-loan.placeholder4'|translate }}" [(ngModel)]="data.EXPECTED_TIME_OF_CONSTRUCTION"
                                        [nzMin]="0" [nzMax]="99999999999999999999999999" [nzStep]="1" required></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        
                        <div nz-col nzSpan="10" nzOffset="1">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label32'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <nz-switch name="IS_ALL_GOVERNMENT_DUES_PAID"
                                        [(ngModel)]="data.IS_ALL_GOVERNMENT_DUES_PAID"
                                         nzCheckedChildren="{{'common.switch.yes'|translate}}"  nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                                    </nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label33'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="TOTAL_AREA_OF_CONSTRUCTION"
                                        nzPlaceHolder= "{{'dhanwantari-loan.placeholder3'|translate }}" [(ngModel)]="data.TOTAL_AREA_OF_CONSTRUCTION"
                                        [nzMin]="0" [nzMax]="99999999999999999999999999" [nzStep]="1" required></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        
                        <div nz-col nzSpan="7">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label34'|translate }}</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <nz-input-number style="width: 100%;" name="TOTAL_COST_OF_CONSTRUCTION"
                                        nzPlaceHolder= "{{'dhanwantari-loan.placeholder5'|translate }}" [(ngModel)]="data.TOTAL_COST_OF_CONSTRUCTION"
                                        [nzMin]="0" [nzMax]="99999999999999999999999999" [nzStep]="1" required></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        
                        
                        
                                <div nz-col nzSpan="10"  nzOffset="1">
                                    <nz-form-item>
                                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label35'|translate }}
                                        </nz-form-label>
                                        <nz-form-control>
                                            <nz-switch name="IS_CONSTRUCTION_PLAN_READY"
                                                [(ngModel)]="data.IS_CONSTRUCTION_PLAN_READY"
                                                 nzCheckedChildren="{{'common.switch.yes'|translate}}"  nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                                            </nz-switch>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                               
                               
                        <!-- <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon>बांधकाम होणाऱ्या ठिकाणाचा पत्ता</nz-form-label>
                                <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                                    <textarea nz-input name="LOCATION_OF_PLOT"
                                        [(ngModel)]="data.LOCATION_OF_PLOT"
                                        [nzAutosize]="{ minRows: 2, maxRows: 4 }" required></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div> -->
                        <div nz-col nzSpan="13" >
                            <nz-form-item>
                                <nz-form-label nzRequired nzNoColon> {{'dhanwantari-loan.label36'|translate }}
                                </nz-form-label>
                                <nz-form-control>
                                    <nz-switch name="IS_PERMISSION_OF_CONSTRUCTION"
                                        [(ngModel)]="data.IS_PERMISSION_OF_CONSTRUCTION"
                                         nzCheckedChildren="{{'common.switch.yes'|translate}}"  nzUnCheckedChildren="{{'common.switch.no'|translate}}">
                                    </nz-switch>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
            <nz-divider nzText="{{'dhanwantari-loan.text1'|translate }}" *ngIf="data.PURPOSE_OF_LOAN == '1'"></nz-divider>
            <div nz-row class="my-box" *ngIf="data.PURPOSE_OF_LOAN == '1'">
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label37'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="houseno1" type="text" [(ngModel)]="addressinfo.HOUSE_NO" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon> {{'dhanwantari-loan.label38'|translate }} </nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="building1" type="text" [(ngModel)]="addressinfo.BUILDING" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon> {{'dhanwantari-loan.label39'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="landmark1" type="text" [(ngModel)]="addressinfo.LANDMARK" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon> {{'dhanwantari-loan.label40'|translate }} </nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="village1" type="text" [(ngModel)]="addressinfo.VILLAGE" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label41'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="taluka1" type="text" [(ngModel)]="addressinfo.TALUKA" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label42'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="distrcict1" type="text" [(ngModel)]="addressinfo.DISTRICT" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label43'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="state1" type="text" [(ngModel)]="addressinfo.STATE" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'dhanwantari-loan.label44'|translate }}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'dhanwantari-loan.label44.nzErrorTip'|translate }}">
                            <input nz-input name="pincode1" pattern="^[1-9][0-9]{5}$" type="text"
                                [(ngModel)]="addressinfo.PINCODE" maxlength="6" minlength="6" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-spin>
    </form>
    <div style="margin-left: 900px"  *ngIf="CURRENT_STAGE_ID == 8 && extraApplicantInformation.IS_APPROVED == false">
            <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
                (click)="save()"><span>{{'dhanwantari-loan.button1'|translate }}</span></button>
    </div>
</div>