<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Pupose Of Loan</nz-form-label>
                        <nz-form-control   nzErrorTip="{{'incomeyear.start_year.nzErrorTip' | translate}} ">
                            <input nz-input name="purposeofloan" type="text" [(ngModel)]="data.NAME" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
          
            <div nz-col nzSpan="24">

                <nz-form-label nzRequired nzNoColon>{{'documentgroup.label1.Parent_Group' | translate}}
                </nz-form-label>
                <nz-input-group>
                    <!-- <nz-select *ngIf="browserLang=='mr'" [nzLoading]="isSpinningDocumentGroup" name="document_id"
                        nzShowSearch style="width: 100%"
                        nzPlaceHolder="{{'documentgroup.Select_Doc_Name.placeholder' | translate}} "
                        [(ngModel)]="data.PARENT_ID">
                        <nz-option [nzValue]="numberZero" nzLabel="None">
                        </nz-option>
                        <nz-option *ngFor="let val of documentGroups" [nzValue]="val.ID" [nzLabel]="val.NAME">
                        </nz-option>
                    </nz-select>
                    <nz-select *ngIf="browserLang=='kn'" [nzLoading]="isSpinningDocumentGroup" name="document_id"
                        nzShowSearch style="width: 100%"
                        nzPlaceHolder="{{'documentgroup.Select_Doc_Name.placeholder' | translate}} "
                        [(ngModel)]="data.PARENT_ID">
                        <nz-option [nzValue]="numberZero" nzLabel="None">
                        </nz-option>
                        <nz-option *ngFor="let val of documentGroups" [nzValue]="val.ID" [nzLabel]="val.NAME_KN">
                        </nz-option>
                    </nz-select> -->
                    <nz-select  name="document_id"
                        nzShowSearch style="width: 100%"
                        nzPlaceHolder="{{'documentgroup.Select_Doc_Name.placeholder' | translate}} "
                        [(ngModel)]="data.LOAN_TYPE_ID">
                        
                        <nz-option *ngFor="let val of documentGroups" [nzValue]="val.ID" [nzLabel]="val.NAME_EN">
                        </nz-option>
                    </nz-select>
                </nz-input-group>
            </div>
        </nz-spin>
    </form>
    <div class="footer">
        <button type="button" nz-button (click)="close()" class="ant-btn"
            style="margin-right: 8px;"><span>Close</span></button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" (click)="save(false)"><span>Save </span></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save(true)">Save</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
            (click)="save(false)"><span>Close</span></button>
    </div>
</div>