<div (mouseover)="myFunction($event)" #tableToMeasure>
  <nz-spin [nzSpinning]="isSpinningTabs">

    <!-- <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
     
        <nz-step *ngFor="let tab of IndivisualInfotabs" [nzStatus]="getStatus(tab.STATUS)" [nzTitle]="tab.EXTRA_INFORMATION_NAME" >  </nz-step>
      </nz-steps> -->


    <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="chnage($event)">
      <nz-tab *ngFor="let tab of IndivisualInfotabs" [nzTitle]="titleTemplate33">
        <ng-template #titleTemplate33>
          <i nz-icon nzType="exclamation-circle" nzTheme="fill" style="color: #f18304;" *ngIf="!tab.IS_PROVIDED"></i>
          <i nz-icon nzType="check-circle" nzTheme="fill" style="color: #00b963;" *ngIf="tab.IS_PROVIDED"></i>
          <span *ngIf="browserLang =='mr' "> {{tab.EXTRA_INFORMATION_NAME}}</span>
          <span *ngIf="browserLang =='kn' "> {{tab.NAME_KN}}</span>
          <span *ngIf="browserLang =='en' "> {{tab.NAME_EN}}</span>

        </ng-template>
        <app-personalinfo *ngIf="tab.EXTRA_INFORMATION_ID==1" style="height: 100%;width: 100%;" (demo)='getTabs()'
          [APPLICANT_ID]="APPLICANT_ID" [oldIndex]="index" (indexChanged)="indexChanged($event)"
          [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [personalInformationId]="personalInformationId" [data]="personalInfo"
          [addressinfoCurrent]="addressinfoCurrent" [addressinfoPermanent]="addressinfoPermanent"
          [familyDetils]="familyDetails" [LoanType]="loanType" [proposal_type]="1"
          [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID" [LOAN_KEY]="data['LOAN_KEY']"
          [proposal_type]="1"></app-personalinfo>

        <app-personalinfo *ngIf="tab.EXTRA_INFORMATION_ID==7" style="height: 100%;width: 100%;" (demo)='getTabs()'
          [APPLICANT_ID]="APPLICANT_ID" [oldIndex]="index" (indexChanged)="indexChanged($event)"
          [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [personalInformationId]="personalInformationId" [data]="personalInfo"
          [addressinfoCurrent]="addressinfoCurrent" [addressinfoPermanent]="addressinfoPermanent"
          [familyDetils]="familyDetails" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID" [LOAN_KEY]="data['LOAN_KEY']"
          [LoanType]="loanType" [proposal_type]="2"></app-personalinfo>

        <!-- <app-firm-details *ngIf="tab.EXTRA_INFORMATION_ID==7" style="height: 100%;width: 100%;" [oldIndex]="index"
          (demo)='getTabs()' (CloseChanged)="CloseChanged($event)" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID" [LOAN_KEY]="data['LOAN_KEY']" [PROPOSAL_ID]="PROPOSAL_ID"></app-firm-details> -->

        <app-income-info *ngIf="tab.EXTRA_INFORMATION_ID==2" style="height: 100%;width: 100%;" (demo)='getTabs()'
          [APPLICANT_ID]="APPLICANT_ID" [oldIndex]="index" (indexChanged)="indexChanged($event)" [data1]="incomeInfo"
          [PROPOSAL_ID]="PROPOSAL_ID" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          [LOAN_KEY]="data['LOAN_KEY']"></app-income-info>

        <app-loan-demand *ngIf="tab.EXTRA_INFORMATION_ID==3" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          style="height: 100%;width: 100%;" (demo)='getTabs()' [oldIndex]="index" (indexChanged)="indexChanged($event)"
          [data]="loanInfo" [PROPOSAL_ID]="PROPOSAL_ID" [LOAN_KEY]="data['LOAN_KEY']" (loanType)="getLoanInfo($event)">
        </app-loan-demand>

        <app-financialinfo *ngIf="tab.EXTRA_INFORMATION_ID==4" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          style="height: 100%;width: 100%;" (demo)='getTabs()' [APPLICANT_ID]="APPLICANT_ID" [oldIndex]="index"
          (indexChanged)="indexChanged($event)" [data]="financialInfo" [loanType]="loanType"
          [LOAN_KEY]="data['LOAN_KEY']" [PROPOSAL_ID]="PROPOSAL_ID" [proposaldata]="data"
          [financial]="financial"></app-financialinfo>

        <app-credit-info *ngIf="tab.EXTRA_INFORMATION_ID==5" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          style="height: 100%;width: 100%;" (demo)='getTabs()' [APPLICANT_ID]="APPLICANT_ID" [oldIndex]="index"
          (indexChanged)="indexChanged($event)" [data]="creditInfo" [LOAN_KEY]="data['LOAN_KEY']"
          [PROPOSAL_ID]="PROPOSAL_ID"></app-credit-info>

        <app-propertyinfo *ngIf="tab.EXTRA_INFORMATION_ID==6" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          style="height: 100%;width: 100%;" (demo)='getTabs()' [APPLICANT_ID]="APPLICANT_ID" [oldIndex]="index"
          (CloseChanged)="CloseChanged($event)" [data]="propertyInfo" [data1]="subpropertyinfo"
          [LOAN_KEY]="data['LOAN_KEY']" [PROPOSAL_ID]="PROPOSAL_ID"></app-propertyinfo>


        <app-projection-info *ngIf="tab.EXTRA_INFORMATION_ID==8" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          style="height: 100%;width: 100%;" (demo)='getTabs()' [oldIndex]="index" (CloseChanged)="CloseChanged($event)"
          [PROPOSAL_ID]="PROPOSAL_ID" [LOAN_KEY]="data['LOAN_KEY']"></app-projection-info>

        <app-guarantor-info *ngIf="tab.EXTRA_INFORMATION_ID==9" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          style="height: 100%;width: 100%;" (demo)='getTabs()' [oldIndex]="index" (CloseChanged)="CloseChanged($event)"
          [data]="data" [APPLICANT_ID]="APPLICANT_ID" [LOAN_KEY]="data['LOAN_KEY']" [PROPOSAL_ID]="PROPOSAL_ID">
        </app-guarantor-info>

        <app-loanquestions *ngIf="tab.EXTRA_INFORMATION_ID==10" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          [LOAN_KEY]="data['LOAN_KEY']" style="height: 100%;width: 100%;" (demos)='getTabs()'
          [PROPOSAL_ID]="PROPOSAL_ID"></app-loanquestions>


        <app-bankschmemsi *ngIf="tab.EXTRA_INFORMATION_ID==11" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          [LOAN_KEY]="data['LOAN_KEY']" style="height: 100%;width: 100%;" (demo)='getTabs()'
          [PROPOSAL_ID]="PROPOSAL_ID"></app-bankschmemsi>

        <app-coborrowerinfo *ngIf="tab.EXTRA_INFORMATION_ID==12" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          style="height: 100%;width: 100%;" (demo)='getTabs()' [oldIndex]="index" (CloseChanged)="CloseChanged($event)"
          [data]="data" [APPLICANT_ID]="APPLICANT_ID" [LOAN_KEY]="data['LOAN_KEY']"
          [PROPOSAL_ID]="PROPOSAL_ID"></app-coborrowerinfo>

        <app-jointaccount *ngIf="tab.EXTRA_INFORMATION_ID==14" [CURRENT_STAGE_ID]="data.CURRENT_STAGE_ID"
          [LOAN_KEY]="data['LOAN_KEY']" style="height: 100%;width: 100%;" (demo)='getTabs()' [data]="joint"
          [APPLICANT_ID]="APPLICANT_ID" [PROPOSAL_ID]="PROPOSAL_ID" [oldIndex]="index"
          (indexChanged)="indexChanged($event)"></app-jointaccount>


      </nz-tab>

      <nz-tab nzTitle="{{ 'tabs.bm_scrutiny' | translate}}" *ngIf="data.CURRENT_STAGE_ID==9 && roleId =='4'"
        [nzForceRender]='true'>
        <app-scrutiny style="height: 100%;width: 100%;" [PROPOSAL_ID]="PROPOSAL_ID"></app-scrutiny>
      </nz-tab>


      <!-- <nz-tab nzTitle="{{ 'basicinfo.m1' | translate}}"
        *ngIf="roleId =='5' && IndivisualInfotabs.length>0 && IsSubmit && data.CURRENT_STAGE_ID==8">
        <app-sumbitforreview style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID"
          [IndivisualInfotabs]="IndivisualInfotabs"></app-sumbitforreview>
      </nz-tab> -->

      <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='4' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==9 && loanType == 17">
        <app-amulya-disburse style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [ PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject" [loanType]="loanType"></app-amulya-disburse>
      </nz-tab>

      <!-- <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='4' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==9 && loanType == 10">
        <app-depositloan-disburse style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject" [loanType]="loanType"></app-depositloan-disburse>
      </nz-tab> -->

      <!-- <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='4' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==9 && loanType == 8">
        <app-gold-disburse style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject" [loanType]="loanType"></app-gold-disburse>
      </nz-tab> -->



      <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="IndivisualInfotabs.length>0 &&((roleId == '5' && data.CURRENT_STAGE_ID==8 && IsSubmit )||(roleId == '4' && data.CURRENT_STAGE_ID==9 && (![17].includes(loanType) ))||(roleId == '12' && data.CURRENT_STAGE_ID==19 && data.ASSISTANT_LO_ID)||(roleId == '14' && data.CURRENT_STAGE_ID==14 && data.LOAN_OFFICER_ID)||(roleId == '13' && data.CURRENT_STAGE_ID==20))">
        <app-sumbitforscrutiny style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject" [loanType]="loanType"></app-sumbitforscrutiny>
      </nz-tab>
      <!-- <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='7' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==14 && loanType != 17 && loanType != 10 && loanType != 8 && loanType != 9 && loanType != 11">
        <app-sumbitforscrutiny style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject"></app-sumbitforscrutiny>
      </nz-tab>
      <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='8' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==14 && loanType != 17 && loanType != 10 && loanType != 8 && loanType != 9 && loanType != 11">
        <app-sumbitforscrutiny style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject"></app-sumbitforscrutiny>
      </nz-tab> -->

       <!-- <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='4' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==9 && loanType != 17 && loanType != 10 && loanType != 8 && loanType != 9 && loanType != 11">
        <app-sumbitforscrutiny style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject" [loanType]="loanType"></app-sumbitforscrutiny>
      </nz-tab> -->
      <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='7' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==14 && loanType != 17 && loanType != 10 && loanType != 8 && loanType != 9 && loanType != 11">
        <app-sumbitforscrutiny style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject"></app-sumbitforscrutiny>
      </nz-tab>
      <nz-tab nzTitle="{{ 'basicinfo.m2' | translate}}"
        *ngIf="roleId =='8' && IndivisualInfotabs.length>0 && data.CURRENT_STAGE_ID==14 && loanType != 17 && loanType != 10 && loanType != 8 && loanType != 9 && loanType != 11">
        <app-sumbitforscrutiny style="height: 100%;width: 100%;" [data]="data" [APPLICANT_ID]="APPLICANT_ID"
          (fsubmit)="submit()" [PROPOSAL_ID]="PROPOSAL_ID" [IndivisualInfotabs]="IndivisualInfotabs"
          [isreject]="isreject"></app-sumbitforscrutiny>
      </nz-tab>
    </nz-tabset>





    <div nz-row *ngIf="textVisible">
      <div nz-col nzSpan="7"></div>
      <div nz-col nzSpan="10" style="text-align: center;border: 1px solid;font-size: 26px">
        {{'common.extra_info_empty'|translate }}
      </div>
    </div>


  </nz-spin>

  <div id="container" #container>
    <!-- <div class="section"><span class="link" (click)="chatInfo()">{{'proposaldocument.link1'|translate }} </span> </div> -->
    <div class="section"><span class="link" (click)="Documents()">{{'joinbranch.link1'|translate }} </span> </div>
    <div class="section"><span class="link" (click)="statusLogs()">{{'joinbranch.link2'|translate }} </span> </div>
  </div>
</div>
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="400" [nzVisible]="drawerchatVisible"
  [nzTitle]="drawerchatTitle" (nzOnClose)="drawerchatClose()" (nzKeyboard)="true">
  <app-chatinfo [drawerClose]="closeCallbackchat" [data]="drowerData"></app-chatinfo>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1095" [nzVisible]="drawerDocumentVisible"
  [nzTitle]="drawerDocumentTitle" (nzOnClose)="drawerDocumentClose()" (nzKeyboard)="true">
  <app-documents2 [drawerClose]="closeCallbackDocument" TYPE="B" [data]="drowerData"></app-documents2>
</nz-drawer>


<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
  [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="1095" [nzVisible]="drawerStattusVisible"
  [nzTitle]="drawerStattusTitle" (nzOnClose)="drawerStattusClose()" (nzKeyboard)="true">
  <app-statuslogs [drawerClose]="closeCallbackStattus" [data]="drowerData"></app-statuslogs>
</nz-drawer>