
<!-- <div nz-row class="my-box">
    <label nz-checkbox name="propertyInfo" [(ngModel)]="IS_PROPERTY_INFO"> मालमत्ता आहे का ?</label>
  </div> -->
<br/>
<!-- <nz-steps nzType="navigation" nzSize="small" [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="मालमत्ता माहिती" nzStatus="finish" > </nz-step>
  
    <nz-step nzTitle="कर्जास देऊ केलेले तारण (Prime Security)" nzStatus="finish"> </nz-step>
</nz-steps> -->


  <app-propertiesinfo (demos)='demos()' [LOAN_KEY]="LOAN_KEY"  [CURRENT_STAGE_ID]="CURRENT_STAGE_ID" style="height: 100%;width: 100%;" [data]="data" [data1]="data1" TYPE="B" [APPLICANT_ID]="APPLICANT_ID" [PROPOSAL_ID]="PROPOSAL_ID"></app-propertiesinfo>
  
  <!-- <app-primesecurityinfo *ngIf="type==1" style="height: 100%;width: 100%;" TYPE="B" [APPLICANT_ID]="APPLICANT_ID" [data]="data" [PROPOSAL_ID]="PROPOSAL_ID"></app-primesecurityinfo> -->








  <!-- <div style="margin-left: 900px" *ngIf="extraApplicantInformation.IS_PROVIDED && index==0"> -->

    <!-- <button type="button" nz-button (click)="close()" class="ant-btn"
        style="margin-right: 8px;"><span>बंद करा</span></button> -->
     <!-- <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
        (click)="save()"><span>साठवा व बंद</span></button>
</div> -->


