<div nz-row>
  <div nz-col nzSpan="16"></div>
<div nz-col nzSpan="8">
<nz-form-item>
    <input type="text" name="search" nz-input placeholder="{{'roledetails.searchrecordsplaceholder'| translate}}" [(ngModel)]="searchText"/>
</nz-form-item>
</div>
</div>

<div nz-row >
        <div nz-col nzSpan="24" >
            <nz-table class="my-scroll no-wrap1"
            nzBordered
            #table
            [nzFrontPagination]="false"
            [nzData]="roleDetailsData"
          >
               <thead >
              <tr>
                <th>{{'roledetails.isallowedtablefield'| translate}}</th>
                <th>{{'roledetails.parentnametablefield'| translate}}</th>
                <th>{{'roledetails.formnametablefield'| translate}}</th>
                <th>{{'roledetails.linktablefield'| translate}}</th>
                <th>{{'roledetails.showinmenutablefield'| translate}}</th>
                <th>{{'roledetails.seqnotablefield'| translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of table.data | filter:searchText">  
                <td> <nz-switch name="is_allowed" [(ngModel)]="data.IS_ALLOWED"></nz-switch> </td>  
                <td> {{data.PARENT_NAME}} </td>              
                <td> {{data.NAME}} </td>
                <td> {{data.LINK}} </td>
                <td> <nz-switch name="is_allowed" [(ngModel)]="data.SHOW_IN_MENU"></nz-switch> </td>  
                <td> <input nz-input name="saq_no"  [(ngModel)]="data.SEQ_NO" /> </td>
              </tr>
            </tbody>
          </nz-table>
          </div>
    </div>
    
    <div class="footer" >
        <button type="button"  nz-button  (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>{{'common.cancel' | translate}}</span></button>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID" (click)="save()"><span>{{'common.Save_&_Close' | translate}}</span></button>
    </div>
    
