<div nz-row nzType="flex">
   <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
      <div class="formname"> {{formTitle}}</div>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16" style="display: flex;justify-content: flex-end">
        <form nz-form [nzLayout]="'inline'">
            <nz-form-item >
                <button nz-button nzType="primary" [appExport]="dataList1" fileName="IncomeSource"><i nz-icon nzType="file-excel" nzTheme="outline"></i></button>
            </nz-form-item>
            <nz-form-item>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" name="search" nz-input placeholder="{{'income-source-list.Search.placeholder' | translate}}" [(ngModel)]="searchText" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" (click)="search()" nzSearch><i nz-icon
                            nzType="search"></i></button>
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <button nz-button nzType="primary" (click)="add()" nzJustify="end">
                    <i nz-icon nzType="plus"></i>{{'income-source-list.button1.name' | translate}}
                </button>
            </nz-form-item>
        </form>
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table class="my-scroll no-wrap1" nzBordered #table nzShowSizeChanger [nzFrontPagination]="false"
            [nzData]="dataList" [nzLoading]="loadingRecords" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
            [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()" (nzPageSizeChange)="search(true)">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr>
                    <th>{{'income-source-list.table1.th1' | translate}}</th>
                    <th nzShowSort nzSortKey="'NAME'">{{'income-source-list.table1.th2' | translate}}</th>
                    <!-- <th nzShowSort nzSortKey="'DESCRIPTION'">वर्णन</th> -->
                    <th nzShowSort nzSortKey="'IS_ACTIVE'">{{'income-source-list.table1.th3' | translate}}</th>
                    <!-- <th *ngFor="let column of columns" nzShowSort nzSortKey={{column[0]}}>{{column[1]}}</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of table.data">
                    <td>
                        <a (click)="edit(data)"><i nz-icon nzType="edit" nzTheme="twotone"></i></a>
                    </td>
                    <td>
                        {{data['NAME']}}
                    </td>
                    <!-- <td>
                        {{data['DESCRIPTION']}}
                    </td> -->
                    <td>
                        <i nz-icon *ngIf="data['IS_ACTIVE'] == true" [nzType]="'check-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#52c41a'"></i>
                        <i nz-icon *ngIf="data['IS_ACTIVE'] == false" [nzType]="'close-circle'" [nzTheme]="'twotone'"
                            [nzTwotoneColor]="'#eb2f96'"></i>
                    </td>
                    <!-- <td *ngFor="let column of columns">{{data[column[0]]}}</td> -->

                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
    [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="320" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">
    <app-income-source [drawerClose]="closeCallback" [data]="drawerData"></app-income-source>
</nz-drawer>