<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'incomeyear.label1.name' | translate}} </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'incomeyear.start_year.nzErrorTip' | translate}} ">
                            <input nz-input name="start_year" type="text" [(ngModel)]="data.START_YEAR" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'incomeyear.label2.name' | translate}}  </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'incomeyear.last_year.nzErrorTip' | translate}} ">
                            <input nz-input name="end_year" type="text" [(ngModel)]="data.END_YEAR" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'incomeyear.label3.name' | translate}}  </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'incomeyear.overview_year.nzErrorTip' | translate}} ">
                            <input nz-input name="textual_year" type="text" [(ngModel)]="data.TEXTUAL_YEAR" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>



        </nz-spin>
    </form>
    <div class="footer">
        <button type="button" nz-button (click)="close()" class="ant-btn"
            style="margin-right: 8px;"><span>{{'common.button5.name' | translate}} </span></button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" (click)="save(false)"><span>{{'common.button6.name' | translate}} </span></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save(true)">{{'common.label1.name' | translate}}</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
            (click)="save(false)"><span>{{'common.button7.name' | translate}} </span></button>
    </div>
</div>