<!-- <nz-table [nzShowPagination]="false" style="height: 250px;overflow: auto;" class="my-scroll no-wrap1" nzBordered
    #table23 [nzFrontPagination]="false" [nzData]="termDepositdata" [nzData2]="pigmyAccdata"
    [nzLoading]="loadingRecords4" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize">
    <thead (nzSortChange)="sort($event)">
        <tr>
            <th>{{'gcreditinfo.th1'|translate }}</th>
            <th>Receipt No.</th>
            <th>{{'gcreditinfo.th2'|translate }}</th>
            <th>Account No.</th>
            <th>Amount</th>
            <th>Interest Rate</th>
            <th>Maturity/Due</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table23.data">
            <td>
                <a *ngIf="(roleId == '5' && CURRENT_STAGE_ID==8 )||(roleId == '4' && (CURRENT_STAGE_ID == 8 || CURRENT_STAGE_ID == 9))||(roleId == '12' && CURRENT_STAGE_ID==19)||(roleId == '14' && CURRENT_STAGE_ID==14)||(roleId == '13' && CURRENT_STAGE_ID==20)"
                    style="margin-right: 10px;" (click)="delete3(data)"><i nz-icon nzType="delete"
                        [nzTwotoneColor]="'#ff4d4f'"></i></a>
                <a *ngIf="(roleId == '5' && CURRENT_STAGE_ID==8 )||(roleId == '4' && (CURRENT_STAGE_ID == 8 || CURRENT_STAGE_ID == 9))||(roleId == '12' && CURRENT_STAGE_ID==19)||(roleId == '14' && CURRENT_STAGE_ID==14)||(roleId == '13' && CURRENT_STAGE_ID==20)"
                    (click)="edit4(data,i)"><i nz-icon nzType="edit"></i></a>
            </td>
            <td> {{data['BRANCH_NAME']}} </td>
            <td> {{data.RECEIPT_NO}} </td>
            <td> {{data['ACC_NO']}}</td>
            <td> {{data['ACC_AMOUNT']}} </td>
            <td> {{data['INTEREST_RATE']}} </td>
            <td> {{data['MATURITY_DUE'] }} </td>

        </tr>

        <tr>

            <td>
                <b>Total</b>
            </td>
            <td>
                <b>{{totalCountOfReceiptNo()}}</b>

            </td>
            <td>


            </td>
            <td>
                <b>{{totalIncome1()}}</b>
            </td>
            <td>
                <b>{{averageInterest() | number: '1.2-2'}}</b>

            </td>
            <td>
                <b>{{ formattedEarliestMaturityDate()}}</b>
            </td>



        </tr>
        
                            {{calculateTotal()}}
                            {{ updateTotalCount(dataList) }}
        {{ updateEarliestMaturityDate(dataList) }}
        {{ calculate90PercentTotal() }}




    </tbody>
</nz-table> -->

<nz-table [nzShowPagination]="false" style="height: 250px;overflow: auto;" class="my-scroll no-wrap1" nzBordered #table [nzFrontPagination]="false" [nzData]="recurringDepositdata" [nzLoading]="loadingRecords4" [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize">
    <thead (nzSortChange)="sort($event)">
        <tr>
            <!-- <th>{{'gcreditinfo.th1'|translate }}</th> -->
            <!-- <th>बँकेचे नाव</th> -->
            <!-- <th>{{'gcreditinfo.th2'|translate }}</th> -->
            <th>{{'gcreditinfo.th1'|translate }}</th>
            <th>Receipt No.</th>
            <!-- <th>{{'gcreditinfo.th2'|translate }}</th> -->
            <th>Account No.</th>
            <th>Amount</th>
            <th>Interest Rate</th>
            <th>Maturity/Due</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data">
            <td>
                <a *ngIf="(roleId == '5' && CURRENT_STAGE_ID==8 )||(roleId == '4' && (CURRENT_STAGE_ID == 8 || CURRENT_STAGE_ID == 9))||(roleId == '12' && CURRENT_STAGE_ID==19)||(roleId == '14' && CURRENT_STAGE_ID==14)||(roleId == '13' && CURRENT_STAGE_ID==20)" nzJustify="end"
                    style="margin-right: 10px;" (click)="deleteRecurringDeposit(data)"><i nz-icon
                        nzType="delete"></i></a>
                <a *ngIf="(roleId == '5' && CURRENT_STAGE_ID==8 )||(roleId == '4' && (CURRENT_STAGE_ID == 8 || CURRENT_STAGE_ID == 9))||(roleId == '12' && CURRENT_STAGE_ID==19)||(roleId == '14' && CURRENT_STAGE_ID==14)||(roleId == '13' && CURRENT_STAGE_ID==20)" (click)="edit3(data,i)"><i nz-icon nzType="edit"></i></a>
            </td>
            <!-- <td> {{data['BRANCH_NAME']}} </td> -->
            <!-- <td> {{data.BRANCH_NAME}} </td> -->
            <!-- <td> {{data['ACC_NO']}}</td>
            <td> {{data['ACC_AMOUNT']}} </td>
            <td> {{data['MATURITY_DUE']}} </td> -->
            <td> {{data.RECEIPT_NO}} </td>
            <td> {{data['ACC_NO']}}</td>
            <td> {{data['ACC_AMOUNT']}} </td>
            <td> {{data['INTEREST_RATE']}} </td>
            <td> {{data['MATURITY_DUE'] }} </td>

        </tr>
        <tr>

            <td>
                <b>Total</b>
            </td>
            <td>
                <b>{{totalCountOfReceiptNo()}}</b>

            </td>
            <td>


            </td>
            <td>
                <b>{{totalIncome1()}}</b>
            </td>
            <td>
                <b>{{highestInterest() | number: '1.2-2'}}</b>

            </td>
            <td>
                <b>{{ formattedEarliestMaturityDate()}}</b>
            </td>



        </tr>
    </tbody>
</nz-table>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="470" [nzVisible]="drawerVisible5" [nzTitle]="drawerTitle5" (nzOnClose)="drawerClose5()"
    (nzKeyboard)="true">
    <app-financialrecurringdeposit [CURRENT_STAGE_ID]="CURRENT_STAGE_ID" [PROPOSAL_ID]="PROPOSAL_ID" [extraApplicantInformation]="extraApplicantInformation" [drawerClose3]="closeCallback5" [data3]="drawerData5" (demo)="saveWorkdata()">
    </app-financialrecurringdeposit>
</nz-drawer>

<!-- <nz-drawer [nzBodyStyle]="{ height: 'calc(100%)', overflow: 'auto', 'padding-bottom': '53px' }" [nzClosable]="true"
    [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="470" [nzVisible]="drawerVisible3" [nzTitle]="drawerTitle3"
    (nzOnClose)="drawerClose3()" (nzKeyboard)="true">
    <app-financialpigmydeposit [CURRENT_STAGE_ID]="CURRENT_STAGE_ID" [PROPOSAL_ID]="PROPOSAL_ID" 
        [extraApplicantInformation]="extraApplicantInformation" [drawerClose3]="closeCallback3" [data5]="drawerData1"
        (demo)="saveWorkdata1()">
    </app-financialpigmydeposit>
</nz-drawer> -->