<div>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'extra-information.label1.name' | translate}} </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'extra-information.name.nzErrorTip' | translate}} ">
                            <input nz-input name="name" type="text" [(ngModel)]="data.NAME_MR" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'extra-information.label1.name' | translate}} </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'extra-information.name.nzErrorTip' | translate}} ">
                            <input nz-input name="name" type="text" [(ngModel)]="data.NAME_KN" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'extra-information.label1.name' | translate}} </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'extra-information.name.nzErrorTip' | translate}} ">
                            <input nz-input name="name" type="text" [(ngModel)]="data.NAME_EN" required />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                        <nz-form-label nzRequired nzNoColon>{{'extra-information.label2.Seq_No' | translate}} </nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="{{'extra-information.Seq_No.nzErrorTip' | translate}} ">
                            <nz-input-number name="sequence_number" style="width: 100%;" [(ngModel)]="data.SEQ_NO"
                            [nzMin]="0"></nz-input-number>
                        </nz-form-control>
                   
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'extra-information.label2.Type' | translate}} </nz-form-label>
                        <nz-input-group>
                            <nz-select name="type" nzMode="multiple" nzShowSearch style="width: 100%"
                                [(ngModel)]="data.EXTRA_TYPE">
                                <nz-option nzValue="I" nzLabel="Individual"></nz-option>
                                <nz-option nzValue="F" nzLabel="Firm"></nz-option>
                                <nz-option nzValue="C" nzLabel="Co-borrower"></nz-option>
                                <nz-option nzValue="G" nzLabel="Guarantor"></nz-option>
                            </nz-select>
                        </nz-input-group>
                    </nz-form-item>
                </div>
            </div>

            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzNoColon>{{'extra-information.label3.name' | translate}} </nz-form-label>
                        <nz-form-control nzHasFeedback >
                            <nz-switch name="status" [(ngModel)]="data.STATUS" [nzCheckedChildren]="checkedTemplate"
                                [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                            <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                            <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

        </nz-spin>
    </form>
    <div class="footer">
        <button type="button" nz-button (click)="close()" class="ant-btn"
            style="margin-right: 8px;"><span>{{'common.button5.name' | translate}}</span></button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu" (click)="save(false)"><span>{{'common.button6.name' | translate}}</span></button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a (click)="save(true)">{{'common.label1.name' | translate}}</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.ID"
            (click)="save(false)"><span>{{'common.button7.name' | translate}}</span></button>
    </div>
</div>