/* You can add global styles to this file, and also import other style files */

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}

.filter {

  transition:max-height 1s;
  
}
.filter-box {
  margin-top: 8px;
  padding: 8px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  
}

.filter-visible {
  max-height: 500px;
  overflow: hidden;
 
}
.filter-invisible {
  max-height: 0px;
  overflow: hidden;
 
}

.inline 
{
  display: flex;
}

.formname
{
  color: rgba(0,0,0,.85);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}
.my-scroll {
  /* max-width: calc(100vw - 28em);;
  overflow: auto;
  padding-top: 8px;  */
}
.no-wrap1{
  white-space: nowrap; 
}
 
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
  padding: 10px 16px;
  text-align: right;
  left: 0px;
  background: #fff;
}


.menuc{
  text-align: center;
  border-radius: 4px;
  background-color: #1890ff;
}

i {
  cursor: pointer;
}
.my-box {
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: #fafafa;
}

nz-form-label{
  white-space: pre-line !important;
    text-align: left !important;
    line-height: 1.1 !important;
}
