
  <div nz-row>

    <div nz-col nzSpan="12">
        <nz-form-item>
            <nz-form-label>{{'passtomainbranch.lebel1'|translate }}</nz-form-label>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>{{'passtomainbranch.lebel2'|translate }} </nz-form-label>
        </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
        <nz-form-item>
            <input type="file"  #file1 accept="application/pdf" (change)="onFileSelectedFile1($event)" />
        </nz-form-item>
        <nz-form-item>
            <input type="file"  #file2 accept="application/pdf" (change)="onFileSelectedFile2($event)" />
        </nz-form-item>
    </div>
  </div>

    <div nz-row>
        <div nz-col nzSpan="24">
                <nz-form-label nzRequired nzNoColon>{{'passtomainbranch.lebel3'|translate }} </nz-form-label>
                <nz-form-control >
                    <textarea nz-input rows="2" name="remark" [(ngModel)]="REMARK" required></textarea>
                </nz-form-control>
        </div>
    </div>
  
    <div class="footer" >
        <button type="button" style="margin-right: 8px;" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" 
        (click)="GoToMainBranch()"><span>{{'passtomainbranch.button1'|translate }}</span></button>
    
    </div>