<div>
    <h3>{{'pagesetting.title'| translate}}</h3>
    <form nz-form>
        <nz-spin [nzSpinning]="isSpinning">
            <div nz-row class="my-box">

                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_1_Title'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Title1" [(ngModel)]="arr[0]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="11" nzOffset='1'>
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Description'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Description1" [(ngModel)]="arr[1]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="23">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_1_Code'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Code1" [(ngModel)]="dataList.PAGE0"
                                [nzAutosize]="{ minRows: 4, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row class="my-box">

                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_2_Title'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Title2" [(ngModel)]="arr[2]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="11" nzOffset='1'>
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Description'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Description2" [(ngModel)]="arr[3]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="23">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_2_Code'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Pag2Code" [(ngModel)]="dataList.PAGE1"
                                [nzAutosize]="{ minRows: 4, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row class="my-box">

                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_3_Title'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Title3" [(ngModel)]="arr[4]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="11" nzOffset='1'>
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Description'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Description3" [(ngModel)]="arr[5]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="23">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_3_Code'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Page3Code" [(ngModel)]="dataList.PAGE2"
                                [nzAutosize]="{ minRows: 4, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row class="my-box">

                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_4_Title'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Title4" [(ngModel)]="arr[6]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="11" nzOffset='1'>
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Description'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Description4" [(ngModel)]="arr[7]"
                                [nzAutosize]="{ minRows: 1, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="23">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Page_4_Code'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <textarea nz-input name="Page4Code" [(ngModel)]="dataList.PAGE4"
                                [nzAutosize]="{ minRows: 4, maxRows: 2 }" required></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="23">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>{{'pagesetting.Support'| translate}}</nz-form-label>
                        <nz-form-control nzErrorTip="{{'common.nzErrorTip'| translate}}">
                            <input nz-input name="support" [(ngModel)]="dataList.SUPPORT"
                                required/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-spin>
    </form>
</div>



<div style="text-align: right;">
    <!-- <button type="button" nz-button class="ant-btn" style="margin-right: 8px;"><span>{{'common.cancel'|translate}}</span></button> -->
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isButtonSpinning"
        (click)="save()"><span>{{'common.Save'|translate}}</span></button>
</div>